<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>地図アプリ　コルク</h1>
      </div>
    </div>
  </div>
<% end %>

<p>テスト</p>

<div class="search">
  <div class="row">
    <div class="text-center">
      <%= form_tag(shops_path, method: :get, class: 'form-inline') do %>
        <div class="form-group">
          <%= text_field_tag :keyword, @keyword, class: 'form-control input-lg', placeholder: "飲店名　地名　ジャンルを入力", size: 40 %>
        </div>
        <%= submit_tag '検索', class: 'btn btn-success btn-lg' %>
      <% end %>
    </div>
  </div>
</div>

<p>口コミがあるお店のみ表示</p>
<p>すべてのお店を表示</p>