<% content_for :meta do %>
<!-- valuecommerceのLinkSwitch -->
<script type="text/javascript" language="javascript">
var vc_pid = "885254078";
</script><script type="text/javascript" src="//aml.valuecommerce.com/vcdal.js" async></script>
<% end %>

<% @page_title =  '【池袋】子連れで食事、赤ちゃんが喜ぶカフェ/居酒屋/レストラン24店舗' %>

<% content_for :cover do %>
  <div class="cover2">
    <div class="cover2-inner">
      <div class="cover2-contents">
        <h1>池袋で子連れで食事、赤ちゃんが喜ぶ【カフェ/居酒屋/レストラン】をご紹介！</h1>
      </div>
    </div>
  </div>
<% end %>

<div class="special-cont">
  
<p>子連れでの外食って大変ですよね。</p>

<p class="red">
  ・子供は落ち着きがない‥<br>
  ・荷物が多い‥<br>
  ・おむつ交換台や授乳室が見つからない‥
</p>

<p>この記事では<span class="f15em b">池袋周辺</span>で子連れOKで、ママ・パパでも過ごしやすいお店を紹介します。</p>

<p class="m30-t">子連れといっても「乳児から」や「幼児から」や「小学生から」といった制限があったりしますが、ここでは<span class="box-yellow">どんな家族でも大丈夫な乳児からOKなお店</span>に絞っています。</p>

<p>池袋へはベビーカーや抱っこ紐でアクセスするママも多いと思いますので<span class="red">ベビーカーを店頭または店内預かりできるところ、駅から近いお店</span>。
それに<span class="box-yellow">店内広さ、賑やかさ</span>も欲しい所ですね。
おむつ台に授乳室もあればGOODですがなかなか探すのって大変。<span class="red">なるべくビル内におむつ台、授乳室、ベビールームがあるお店</span>をピックアップしました。</p>

<p class="m30-t">また子供と一緒だと完全禁煙は必須という方がほとんどです。「完全禁煙」を基本とし分煙、喫煙可のお店は個室対応などで子供の受動喫煙を防げるようなお店を選んでいます。</p>

<p>まずは駅ビルや商業施設に入ってるお店からご紹介。またそれ以外のお店もご紹介します。</p>

<div class="mokuji">
  目次
<ul>
  <li><a href="#seibu">西武池袋内</a></li>
  <li><a href="#wakka">池袋WACCA内</a></li>
  <li><a href="#tobu">東武池袋内</a></li>
  <li><a href="#lumine">ルミネ池袋内</a></li>
  <li><a href="#sunshine">サンシャイン60内</a></li>
  <li><a href="#esola">Esola池袋内</a></li>
  <li><a href="#other">駅直結ではないけどいいお店</a></li>
</ul>
</div>


<div id="seibu"></div>
<h2 class="midasi2">西武池袋店内</h2>

<p>ここでは西武百貨店内のレストランで子連れや乳児と一緒でも大丈夫でしょう、というお店をご紹介します。</p>

<p>池袋の西武といえば駅東口から直結の百貨店です。授乳室・おむつ交換台は6階フロアに設置されています。</p>

<p>車での来店も可能で西武パーキングまたは契約駐車場があります。2000円以上のお買い物で1時間半～3時間無料まであり負担は少なくなっています。</p>


<h3 class="midasi3">ラ・グラスリィ西武池袋本店</h3>

<p>西武6階は子供服フロアなのですが、そこにある「ミキハウスの公式カフェ」です。お子様ランチの他、離乳食セットも用意されていて子連れ、乳児赤ちゃんとの飲食ならここはオススメです。アレルギー対応の料理もできるので小麦や卵アレルギーのお子様を持つパパママには嬉しいお店でしょう。</p>

<p>予約もできる（LINEアプリで）て気軽に予約できるはとても便利です。</p>

<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r1936761674179"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r1936761674179"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r1871661673791"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r1871661673791"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r8732545157923"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r8732545157923"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r9717518308017"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r9717518308017"></a></div>
</div>


<blockquote>
<p>東京都豊島区南池袋1-28-1 西武池袋本店 6F<br>
[月～土]　10:00～21:00<br>
[日・祝]　10:00～20:00</p>
<p>子供可、お子様大歓迎です！！</p>
<p class="al-c"><a href="https://tabelog.com/tokyo/A1305/A130501/13024533/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>
</blockquote>


<h3 class="midasi3">いろどり家 西武池袋店</h3>

<p>こちらも西武の8階にある、ヘルシーな鳥・魚・野菜料理、十五穀米などが頂けるお店で女子に人気というのもうなずけます。</p>

<p>禁煙で個室や予約はありません。お子様メニューあり。</p>

<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r4230782462796"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r4230782462796"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r9320680573106"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r9320680573106"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r0448080526015"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r0448080526015"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r4243881139810"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r4243881139810"></a></div>
</div>

<blockquote>
<p>東京都豊島区南池袋1-28-1 西武池袋本店 8F<br>
営業時間　11：00～22：30</p>
<p>子供可（乳児可、未就学児可、小学生可）、お子様メニューあり、ベビーカー入店可</p>
<p class="al-c"><a href="https://tabelog.com/tokyo/A1305/A130501/13116430/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>
</blockquote>


<h3 class="midasi3">銀座びいどろ 池袋店</h3>

<p>西武の8階にあるスペイン料理が有名なお店です。8階なのでベビールームを利用する際には階を2つ降りなければいけません。</p>

<p>けど完全禁煙で子供可、お子様メニュー、椅子食器あり。離乳食は持ち込みOKとなっています。個室もあるので利用の際にはお問い合わせを。</p>


<p>料理はスペイン料理で国際大会でも優勝するなど、味はお墨付きです。</p>

<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r5411314153707"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r5411314153707"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r4510056036653"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r4510056036653"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r5131981912468"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r5131981912468"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r0510979498051"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r0510979498051"></a></div>
</div>

<blockquote>
<p>東京都豊島区南池袋1-28-1 西武池袋本店 8F<br>
[月～土]　11:00～23:00<br>
[日・祝]　10:30～23:00</p>
<p class="al-c"><a href="https://tabelog.com/tokyo/A1305/A130501/13126895/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>
</blockquote>



<h3 class="midasi3">パニーノ・ジュスト 西武池袋店</h3>

<p>パン・サンドイッチをメインとしたおしゃれなイタリアンカフェです。地下1階なのでアクセスは非常によいと思います。ベビールームを使おうとすると遠いです。</p>

<p>店内落ち着いた感じでソファ席もありベビーカーだと狭いかもしれませんが、お子様椅子も使えますし、また店外のテラス席も使えます。（人の往来があるけど。）</p>

<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r734375738887"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r734375738887"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r1303573821833"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r1303573821833"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r8825271835880"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r8825271835880"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r1297173821776"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r1297173821776"></a></div>
</div>


<blockquote>
<p>東京都豊島区南池袋1-28-1 西武池袋本店 別館 B1F<br>
[月～土]10:00～21:00<br>
[日・祝]10:00～20:00</p>
<p>子供可（未就学児可、小学生可）、ベビーカー入店可</p>
<p class="al-c"><a href="https://tabelog.com/tokyo/A1305/A130501/13019215/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>
</blockquote>



<div id="wakka"></div>
<h2 class="midasi2">池袋WACCA内</h2>

<p>池袋の東口の地下道から直結でヤマダ電気LABIにいけますが、地上にでてその斜向いにあるのが池袋WACCAというビルです。この中のレストランを紹介します。</p>

<p>同じフロア内にベビールーム（授乳室やおむつ台）があるので乳児と一緒でも大丈夫です。
施設内広くほぼ駅直結でいけるのでベビーカーでもアクセスしやすいでしょう。ランチ時でも空いてるので（大丈夫？ｗ）駅からちょっと歩きますがおすすめです</p>



<h3 class="midasi3">サカナメルカート・ゼン 池袋WACCA店</h3>

<p>海鮮居酒屋ですがランチもやっています。</p>

<p>子連れ・乳児OK、店内禁煙で個室もあります。
WACCA地下駐車場割引があるので車での来店でもさほど負担にはならないでしょう。</p>

<p>料理は鮮魚・魚介を使った新鮮な料理にお肉料理も扱っています。</p>


<div class="col-b">
<div class="col">
<a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r4713681977059"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r4713681977059"></a>
</div>
<div class="col">
<a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r4715881977074"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r4715881977074"></a>
</div>
<div class="col">
<a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r4744081977342"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r4744081977342"></a>
</div>
<div class="col">
<a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r9309474262825"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r9309474262825"></a>
</div>
</div>


<blockquote>
<p>住所　東京都豊島区東池袋1-8-1 池袋WACCA 5F<br>
ランチ　11:00～15:00<br>
ディナー　17:00～23:00<br>
日曜営業</p>
<p>子供可（乳児可、未就学児可、小学生可）、ベビーカー入店可</p>
<p class="al-c"><a href="https://tabelog.com/tokyo/A1305/A130501/13213239/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>
</blockquote>



<h3 class="midasi3">もうひとつのdaidokoro</h3>

<p>池袋Wacca内の5階にあるかなりオープンな外観のランチのみ営業のお店です。夜は貸しスペースになったりイベントを開催している模様。</p>

<p>料理は自然派な感じで女子や菜食者にもおすすめ。子供向けにも優しい食事です。店内広くベビーカー入店も可能、椅子も完備です。かなり空いてると思います。</p>

<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r5594662862543"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r5594662862543"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r8620582054041"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r8620582054041"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r2047180899601"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r2047180899601"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r7263371992598"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r7263371992598"></a></div>
</div>

<blockquote>
<p>東京都豊島区東池袋1-8-1 wacca 5F<br>
月?金 11:00～15:00<br>
土・日 11:00～17:00<br>
定休日　なし　ビル休館日</p>
<p>子供・乳児可 ベビーカー入店OK 子供椅子有り</p>
<p class="al-c"><a href="https://tabelog.com/tokyo/A1305/A130501/13203121/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>
</blockquote>


<h3 class="midasi3">JA全農ミートフーズ ぴゅあ 池袋店</h3>

<p>JA全農グループが手がける新鮮なお肉を使った本格的な焼肉が食べられるお店です。子連れ、乳児もOKでベビーカーでも入れます。</p>

<p>1室のみですが予約制の個室あり。全席禁煙なので子連れのほか女性グループやファミリー利用も大丈夫です。</p>


<div class="col-b">
  <div class="col">
  <a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r5061739933397"><img class="col-thumb"src="https://tabelog.com/imgview/original?id=r5061739933397"></a>
  </div>
  <div class="col">
  <a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r5070939933449"><img class="col-thumb"src="https://tabelog.com/imgview/original?id=r5070939933449"></a>
  </div>
  <div class="col">
  <a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r1372161111251"><img class="col-thumb"src="https://tabelog.com/imgview/original?id=r1372161111251"></a>
  </div>
  <div class="col">
  <a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r4872139932866"><img class="col-thumb"src="https://tabelog.com/imgview/original?id=r4872139932866"></a>
  </div>
</div>


<blockquote>
<p>住所　東京都豊島区東池袋1-8-1 WACCA IKEBUKURO 5F<br>
ランチ　11:00～15:00/ディナー　17:00～23:00<br>
定休日　なし　ビル休館日<br></p>
<p class="al-c"><a href="https://tabelog.com/tokyo/A1305/A130501/13174866/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>
</blockquote>


<div id="tobu"></div>
<h2 class="midasi2">東武百貨店池袋店内の子連れ乳児OKなお店</h2>


<p>東武百貨店は池袋駅西口のビルですね。駅直結なのでアクセスはしやすいです。</p>

<p>このビル内には7階と11階に授乳室とベビーベッドがあるので赤ちゃん連れのママ・パパは覚えておくとよいと思います。</p>

<p>レストラン街は11階～15階までありますので11階のほうを利用されるとよいかと。東武からは2店舗紹介します。</p>



<h3 class="midasi3">神楽坂 茶寮 池袋東武店</h3>

<p>本店は神楽坂にありますが、それの池袋支店のおしゃれな和カフェです。</p>

<p>鯛茶漬けや天ぷら午前、十六穀米など健康にも気を使ったメニューあり。和スイーツも。店内は広さはないので子連れはソファ席がおすすめ。</p>

<p>また子連れへの配慮もしてくださり子供メニューも用意されています。アレルギー持ちのお子さんがいる場合はスタッフへ連絡を。</p>


<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r1837556872849"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r1837556872849"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r1844356872901"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r1844356872901"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r1582455786279"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r1582455786279"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r9302462048615"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r9302462048615"></a></div>
</div>


<blockquote>
<p>東京都豊島区西池袋1-1-25 東武百貨店池袋店 12F<br>
営業時間　11:00～22:00</p>
<p>子供可（乳児可、未就学児可、小学生可）、お子様メニューあり</p>
<p class="al-c"><a href="https://tabelog.com/tokyo/A1305/A130501/13195994/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>
</blockquote>



<h3 class="midasi3">焼肉チャンピオン 池袋東武店</h3>

<p>名前の通り焼肉屋さんですのでランチでも平均的な料金は高めになっちゃうかもしれません。</p>

<p>完全禁煙でオープン席はゆったり、ソファや個室も利用できるので子連れでもファミリーでも大丈夫です。予約もできますが土日祝のランチ予約はコースのみとなっています。</p>

<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r6956743872901"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r6956743872901"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r6966243872928"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r6966243872928"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r3644855799432"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r3644855799432"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r1554152795606"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r1554152795606"></a></div>
</div>


<blockquote>
<p>東京都豊島区西池袋1-1-25 東武百貨店池袋店 レストラン街スパイス 14F<br>
[月～土・祝] 11:00～23:00（ランチLO 14:00、ディナーLO 22:00）<br>
[日] 11:00～22:00（ランチLO 14:00、ディナーLO 21:00）</p>
<p>子供可（乳児可、未就学児可、小学生可）</p>
<p class="al-c"><a href="https://tabelog.com/tokyo/A1305/A130501/13186878/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>
</blockquote>



<div id="lumine"></div>
<h2 class="midasi2">ルミネ池袋店</h2>

<p>池袋のルミネはアクセスしにくい印象ですが、南改札を出ればわかりやすいと思います。西口から出てしまったらそのまま左方面です。</p>

<p>駐車場（ルミネと周辺の提携コインパーキング）もありルミネ内店舗で2000円以上お買い上げで1時間半が無料になります。</p>


<p>さてルミネ池袋ではベビーベッドが8・9階にあります。授乳室は6・8階にありキッズスペースも6階にあります。ベビーカー貸出も行っていて利用するには便利です。</p>

<p>子連れ、乳児OKなお店は6店舗紹介いたします。</p>


<h3 class="midasi3">グッドモーニングカフェ 池袋ルミネ店</h3>

<p>ルミネの8階に入居するイタリアンカフェ、目の前に中庭を望みオープンカフェなので開放感があります。ベビーカー入店OKで子供椅子あり。</p>

<p>子供メニューはミニバーガーやお子様ランチ。同フロア内におむつ台、授乳室があるので安心です。</p>

<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r6759336819870"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r6759336819870"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r3406423170343"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r3406423170343"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r4048458680212"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r4048458680212"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r4045658680191"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r4045658680191"></a></div>
</div>

<blockquote>
<p>東京都豊島区西池袋1-11-1 ルミネ池袋店 8F<br>
営業時間　11:00-22:30</p>
<p>子供可（乳児可、未就学児可、小学生可）、お子様メニューあり、ベビーカー入店可 キッズチェアあります☆</p>
<p class="al-c"><a href="https://tabelog.com/tokyo/A1305/A130501/13139167/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>
</blockquote>



<h3 class="midasi3">chano-ma 池袋</h3>

<p>ルミネの9階にあるいわゆる和カフェで写真の見た目通りのソファ、椅子席が多く、特に靴を脱いで小上がりでくつろげるのがポイントです。（男性はちょっと苦手かも）</p>

<p>そのため子連れママが多く訪れるお店でベビーカー入店OK、子連れ・乳児もOKとなっています。</p>


<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r9819982920639"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r9819982920639"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r0352583852767"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r0352583852767"></a></div>


<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r9029886764718"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r9029886764718"></a></div>


<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r4858483803051"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r4858483803051"></a></div>
</div>




<blockquote>
<p>東京都豊島区西池袋1-11-1 ルミネ池袋店 9F<br>
営業時間　11:00～22:30</p>
<p>子供可（乳児可、未就学児可、小学生可）、ベビーカー入店可</p>
<p class="al-c"><a href="https://tabelog.com/tokyo/A1305/A130501/13217806/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>
</blockquote>



<h3 class="midasi3">バケット ルミネ池袋店</h3>

<p>このお店はルミネ池袋9階に入居しているサンマルクの系列店です。</p>


<p>パンを美味しくいただくお店で焼きたて食べ放題なのでファミリー向けです。お子様メニューも揃っています。店内広めなのでベビーカーで来ている他のママさんたちも多く見られます。</p>

<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r9582967530945"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r9582967530945"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r0192213699755"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r0192213699755"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r0661917375059"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r0661917375059"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r4396881498801"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r4396881498801"></a></div>
</div>

<blockquote>
<p>東京都豊島区西池袋1-11-1 ルミネ池袋店 9F<br>
営業時間　11：00～22：30</p>
<p>子供可</p>
<p class="al-c"><a href="https://tabelog.com/tokyo/A1305/A130501/13142997/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>
</blockquote>


<h3 class="midasi3">はーべすと ルミネ池袋店</h3>

<p>バイキングスタイルの自然食メインとするお店で子供メニューあります。店内広くテーブル席、ソファー席、ベビーカー入店もOKです。女性やお子様連れのお客さんが多いです。</p>

<p>ランチもディナーも安くお腹いっぱい食べられます。</p>


<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r230553799024"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r230553799024"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r5988286668759"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r5988286668759"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r6513759312098"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r6513759312098"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r5979786668699"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r5979786668699"></a></div>
</div>


<blockquote>
<p>東京都豊島区西池袋1-11-1 ルミネ池袋店 9Ｆ<br>
[ランチ]11：00～17：00<br>
[ディナー]17：00～22：30<br>
＊最終入店　21：30</p>
<p>子供可、お子様メニューあり、ベビーカー入店可</p>
<p class="al-c"><a href="https://tabelog.com/tokyo/A1305/A130501/13019218/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>
</blockquote>


<div id="sunshine"></div>
<h2 class="midasi2">サンシャイン60</h2>

<p>サンシャイン60は池袋駅からはやや離れた場所にあるので子供連れなら車で遊びに来られる方が多い気がします。駐車場に関しては対象施設での3000円以上の利用で2時間無料、1万円以上利用で3時間無料のサービスがあります。</p>

<p>施設が大きいのですがサンシャイン60からは2店舗の飲食店を紹介いたします。</p>

<h3 class="midasi3">THE DOME</h3>

<p>サンシャイン60の59階に入居するお店、THE DOMEはキッズスペースがあるレストランです。子供歓迎店なので気兼ねなく入店できますね。</p>

<p>もちろん完全禁煙で店内すべり台やオモチャ、背の低いキッズチェアも。</p>


<p>カフェスタイルの料理ですがキッズメニューもあります。（低アレルギーメニューは無い様子）離乳食（どろどろの）持ち込みはOKですが離乳食以外の持ち込みはチャージ300円がかかります。</p>


<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r5663862344750"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r5663862344750"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r7241837743154"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r7241837743154"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r7226237743066"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r7226237743066"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r5666462344759"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r5666462344759"></a></div>
</div>


<blockquote>
<p>東京都豊島区東池袋3-1-1 サンシャイン60 59Ｆ<br>
[月～金]　11:30～15:00　17:00～23:00<br>
[土]　11:30～16:00　17:00～23:00<br>
[日・祝]　11:30～16:00　17:00～22:00</p>
<p>子供可 キッズスペース完備、お子様用メニューあり</p>
<p class="al-c"><a href="https://tabelog.com/tokyo/A1305/A130501/13113976/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>
</blockquote>




<h3 class="midasi3">ビストロ309 サンシャインシティアルパ店</h3>

<p>こちらはサンシャインシティのB1Fアルパ内にあるサンマルク系列店です。パンを中心にした洋食メニューが豊富でパンは食べ放題、子供メニューもあります。</p>


<p>同フロアには授乳室とおむつ交換台があります。</p>

<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r0618962109040"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r0618962109040"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r7058281526790"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r7058281526790"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r0715156915198"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r0715156915198"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r676784593084"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r676784593084"></a></div>
</div>



<blockquote>
<p>東京都豊島区東池袋3-1-2 サンシャインシティアルパB1F<br>
営業時間　8:30～23:00（L.O.22:30）</p>
<p>子供可</p>
<p class="al-c"><a href="https://tabelog.com/tokyo/A1305/A130501/13108343/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>
</blockquote>


<div id="esola"></div>
<h2 class="midasi2">Esola池袋</h2>

<p>池袋に新しくできた商業施設ビルEsola。
授乳室とおむつ交換台は同ビル内の4階にありますので利用の際には4階までいくことになります。</p>


<h3 class="midasi3">KICHIRI RELAX &amp; DINE Esola池袋</h3>

<p>Esolaの8階に入居しているダイニングバー・居酒屋とも言えるのがこちらのお店。おしゃれさも売りにしていますが、ランチもやっているので利用しやすく子連れ、乳児もOKです。キッズメニューありベビーカー入店OKです。</p>

<p>個室のみ喫煙席あり。ランチ中は完全禁煙なので安心できます。</p>

<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r9464565007046"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r9464565007046"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r0838823490115"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r0838823490115"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r0253682676303"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r0253682676303"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r8527370282357"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r8527370282357"></a></div>
</div>

<blockquote>
<p>東京都豊島区西池袋1-12-1 Esola池袋 8F<br>
ランチタイム/11:00～15:00<br>
カフェ・ティータイム/15:00～17:00<br>
ディナータイム/17:00～23:00</p>
<p>子供可（乳児可、未就学児可、小学生可）、お子様メニューあり、ベビーカー入店可</p>
<p class="al-c"><a href="https://tabelog.com/tokyo/A1305/A130501/13100166/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>
</blockquote>

<div id="other"></div>
<h2 class="midasi2">駅直結ではないけど子連れOKのいいお店をご紹介</h2>


<p>池袋には他にも子連れ乳児OKなお店があります。子供と一緒だと駅からすぐ近くで（できれば直結で）ベビーカーや抱っこでの歩きが苦痛にならないぐらいの距離が理想ですが、少し歩けばまたいいお店もありますので、そちらも紹介したいと思います。</p>


<h3 class="midasi3">Oyako Cafe picnic</h3>

<p>ピクニックは池袋から有楽町線で一駅の要町駅から近い親子カフェです。</p>

<p>キッズスペース、おもちゃ、クライミング、すべり台など子供が喜ぶ物が盛りだくさん！ベビーカー入店はできませんが店外に立てて置いておけます。</p>

<p>お子様ランチあります。けどアレルギー対応のメニューは無いとのことです。離乳食持ち込みOK。</p>

<p>施設利用料＋ランチ代。フリードリンクとキッズスペース利用料、ミルク用のお湯、授乳用ケープは0円なのでお代に込み。（ランチなしの場合は別途チャージ発生）</p>

<p>とにかく子供と楽しくランチをするのにお薦めです。</p>

<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r0396041006934"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r0396041006934"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r9752869060320"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r9752869060320"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r0794640729739"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r0794640729739"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r8746824965157"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r8746824965157"></a></div>
</div>

<blockquote>
<p>東京都豊島区西池袋5-24-9 中央ビル 2F<br>
営業時間 10:00～17:00</p>
<p class="al-c"><a href="https://tabelog.com/tokyo/A1322/A132202/13145185/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>
</blockquote>



<h3 class="midasi3">Cafe Festaria</h3>

<p>こちらは東池袋駅から直結のおしゃれで上品なソファやシャンデリアのあるカフェです。</p>

<p>キッズスペースが常設されていますが利用の場合は会員（有料）になる必要があります。</p>

<p>キッズスペース・ベビースペース、授乳室、おむつ台があります。店内手狭なためベビーカーでの入店はNGとのことです。</p>

<p>ルールはありますが子供歓迎のお店はそう多くないので素敵なお店だなと思います。</p>

<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r2263063408830"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r2263063408830"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r8261464244701"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r8261464244701"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r8262564244711"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r8262564244711"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r8254664244647"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r8254664244647"></a></div>
</div>


<blockquote>
<p>東京都豊島区東池袋4-21-1 アウルタワー B1F<br>
営業時間　10：00～20：00</p>
<p>子供可 キッズスペースあり(会員制)</p>
<p class="al-c"><a href="https://tabelog.com/tokyo/A1305/A130501/13205818/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>
</blockquote>




<h3 class="midasi3">egg 東京</h3>

<p>米国ニューヨークのブルックリンに本店があるカフェの東京第1号店です。池袋西口から400mなのでちょっと歩きます。</p>

<p>アメリカ風洋食店で子連れ、乳児OKで店内も広くベビーカー入店も可、落ち着いて過ごせる良いお店です。クレヨンでテーブルにお絵かきができる！</p>

<p>おむつ交換台があるので乳児も安心ですね。もちろんキッズチェアーありです。</p>

<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r2527870083724"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r2527870083724"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r3834870687783"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r3834870687783"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r3835770687795"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r3835770687795"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r3829470687711"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r3829470687711"></a></div>
</div>

<blockquote>
<p>東京都豊島区西池袋2-37-4 としま産業振興プラザ IKE・Biz 1F<br>
営業時間　8:00～21:00</p>
<p>子供可（乳児可、未就学児可、小学生可）、ベビーカー入店可。クレヨンでテーブルいっぱいにお絵描きができます。
お子様用の椅子、お化粧室にはおむつ交換台完備しております。</p>
<p class="al-c"><a href="https://tabelog.com/tokyo/A1305/A130501/13207721/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>
</blockquote>



<h3 class="midasi3">カラオケ パセラ 池袋本店</h3>

<p>カラオケ店も1つ紹介します。というのもこのお店は飲食にも力を入れていて子連れ、ファミリー、ママ会などでも利用も多いようです。</p>

<p>個室なので他の客や喫煙を気にすることもありません。</p>

<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r4058016935664"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r4058016935664"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r5917535986211"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r5917535986211"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r5916135986199"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r5916135986199"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r9746881671214"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r9746881671214"></a></div>
</div>

<blockquote>
<p>東京都豊島区西池袋1-21-9<br>
【月曜日～木曜日】12:00～翌7:00<br>
【金曜日・祝前日】12:00～翌8:00<br>
【土曜日】11:00～翌8:00<br>
【日曜日・祝日】11:00～翌7:00</p>
<p class="al-c"><a href="https://tabelog.com/tokyo/A1305/A130501/13010823/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>
</blockquote>



<h3 class="midasi3">フーズフーズ 池袋本店</h3>

<p>続いてフーズフーズですが、こちらのお店はカラオケパセラの系列店で同じビルに入居しています。</p>

<p>土日祝ランチタイムは子連れママも多く来店、店内広くベビーカー入店できます。</p>

<p>キッズメニュー、キッズチェアありで乳児もOKです。また玩具、ボールで遊べるキッズスペースもあります。</p>

<p>全席喫煙OKなのでそこが気になる方は来店は遠慮したほうがよいでしょう（半個室でカーテン仕切り）</p>

<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r3845643988390"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r3845643988390"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r6091880865781"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r6091880865781"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r4130868221696"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r4130868221696"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r5778025862467"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r5778025862467"></a></div>
</div>

<blockquote>
<p>東京都豊島区西池袋1-21-9 パセラリゾーツ 2F<br>
<br>
月曜～木曜⇒17:00～翌4:30<br>
金曜・祝前⇒17:00～翌5:00<br>
　　　土曜⇒11:30～翌5:00<br>
日曜・祝日⇒11:30～翌4:30</p>
<p>子供可（乳児可、未就学児可、小学生可）、お子様メニューあり、ベビーカー入店可。
 週末のランチタイムはママさんとお子様も多くご来店いただきます。</p>
<p class="al-c"><a href="https://tabelog.com/tokyo/A1305/A130501/13035918/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>
</blockquote>


<h3 class="midasi3">板前ごはん 音音 池袋店</h3>

<p>ベビーカーは店頭預かり、キッズメニューがある和食レストラン・居酒屋です。ソファ、椅子、座敷席などが選べます。</p>

<p>個室があり子連れ・乳児OKとなっていますが掘りごたつの部屋は乳児には落下の危険があるので椅子に座って落ち着きがある子なら安心出来ると思います。</p>

<p>全体的に落ち着いたお店です。分煙ですが禁煙席もあります。</p>

<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r9116253189255"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r9116253189255"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r3903562995799"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r3903562995799"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r6740665120797"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r6740665120797"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r7304549672065"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r7304549672065"></a></div>
</div>

<blockquote>
<p>東京都豊島区南池袋1-19-5 ＭＩプラザビル5F<br>
月～金・祝前日　ランチ　11:30～15:00<br>
土・日・祝　ランチ　11:30～16:30<br>
月～木・日・祝日　ディナー　16:30～23:00<br>
金・土・祝前日ディナー　16:30～23:30</p>
<p>子供可（乳児可、未就学児可、小学生可）、お子様メニューあり。
総小上がりで個室が充実しているためお子様同伴での利用に最適です。
お子様メニューも準備あり、記念日、誕生日、七五三など特別な日に是非ご利用下さい。</p>
<p class="al-c"><a href="https://tabelog.com/tokyo/A1305/A130501/13041104/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>
</blockquote>


<h3 class="midasi3">エルトリート 池袋西口店</h3>

<p>メキシコレストランです。池袋西口からちょっと歩いた所のビルの3階にあります。エレベーターで3階まで行けるのでベビーカーでも大丈夫です。</p>

<p>子供に優しくキッズメニュー、食器、キッズチェア、ソファ席などあります。</p>


<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r7745126244096"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r7745126244096"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r7765126244216"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r7765126244216"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r1389763402816"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r1389763402816"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r7215062676097"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r7215062676097"></a></div>
</div>


<blockquote>
<p></P>東京都豊島区西池袋1-10-10 東武アネックス スパイスビル 3F<br>
[月～土] 11:00～23:00<br>
[日] 11:00～22:00</p>
<p class="al-c"><a href="https://tabelog.com/tokyo/A1305/A130501/13167195/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>
</blockquote>


<h3 class="midasi3">ラシーヌ ファーム トゥー パーク</h3>

<p>池袋東口の南池袋公園にあるカフェレストランです。駅から徒歩10分と徒歩ママには遠いのでお散歩がてら行ける方におすすめ。</p>

<p>ソファ席の店内は広くベビーカーでも大丈夫です。またテラス席も充実しているので天気が良い日はテラス席もいいですね。</p>

<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r8174485397811"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r8174485397811"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r1777152855424"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r1777152855424"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r9207669283997"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r9207669283997"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r9207869284000"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r9207869284000"></a></div>
</div>

<blockquote>
<p>東京都豊島区南池袋2-21-1 豊島区南池袋公園<br>
［月～金］8:00～22:00<br>
［土・日・祝］9:00～22:00</p>
<p class="al-c"><a href="https://tabelog.com/tokyo/A1305/A130501/13193914/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>
</blockquote>

</div>



