<% content_for :meta do %>
<!-- valuecommerceのLinkSwitch -->
<script type="text/javascript" language="javascript">
var vc_pid = "885254078";
</script><script type="text/javascript" src="//aml.valuecommerce.com/vcdal.js" async></script>
<% end %>

<% @page_title =  'わんわん・うーたんと遊べる！にこはぴきっず池袋をレポします' %>

<% content_for :cover do %>
  <div class="cover2">
    <div class="cover2-inner">
      <div class="cover2-contents">
        <h1>にこはぴきっず池袋へ行ってわんわんうーたんと遊んできました</h1>
      </div>
    </div>
  </div>
<% end %>

<div class="special-cont">
  
<p>2018年にオープンしたというNHKキャラクター（おかあさんといっしょ、いないいないばあっ！）に会える「にこはぴきっず」に行ってきました。</p>

<p>ここは池袋西口側にある東武デパートの7階に入居する子供用の遊び施設です。1歳半の子供を連れて遊んできました。わりと空いていて安全に遊べるので値段はさておきまた行きたいと思いました。</p>

<p>この記事ではにこはぴきっず池袋を写真で紹介するとともに、アクセス方法や周辺駐車場についても書いていきます。</p>

<p>今回行ってきた人たち
自分、妻、1才半の娘。</p>

<p class="al-c"><img src="/images/post-image/20180827/nikohapikids-14.jpg"></p>

<h2 class="midasi2">にこはぴきっずへのアクセス</h2>


<p>私達は池袋が遠いので車でアクセスしました。駐車場ですが平日の最大料金が1600円と決まっているルミネの地下にあるタイムズプラザに止めました。ルミネと東武デパートは7階で繋がっているので駐車場から普通にエアコンのきいた室内を通っていくことができます。また2000円以上のお買い物で駐車場代の割引があるのでそれも活用。</p>

<p>電車で行く方なら普通に池袋駅直結の東武デパート7階にエレベーターで行けばよでしょう。</p>

<p>東武デパート内は広いですがなるべく北側のほうにあります。ルミネは駅の南側にあるのでまぁちょっと歩くけど安い駐車場に止めるからしょうがない。</p>


<h2 class="midasi2">にこはぴきっずへ到着！入場するよ</h2>

<p>到着するとさっそく壁にはわんわん、うーたん、こっしー、サボさん、オフロスキー、ガラピコ、ムームー、チョロミーがお出迎え！</p>

<p class="al-c"><img src="/images/post-image/20180827/nikohapikids-01.jpg"></p>

<p class="al-c"><img src="/images/post-image/20180827/nikohapikids-02.jpg"></p>

<p class="al-c"><img src="/images/post-image/20180827/nikohapikids-03.jpg"></p>

<p>受付の横にはグッズ売り場があります。わんわん、うーたんの人形やこっしーの椅子カバー、プール用うきわ、タオルや歯ブラシの他、よく見かけるおもちゃ類もあります。</p>

<p>うちの子は大きい人形が怖いみたいであまり近づけません（笑）</p>

<p class="al-c"><img src="/images/post-image/20180827/nikohapikids-04.jpg"></p>


<div class="mybox1">

<p><span class="b">＜料金＞</span>

<p>小学2年生以下は1時間1400円で以降30分ごとに700円。<br>
大人（保護者）は1時間500円で以降30分ごとに200円です。</p>

</div>

<p>わたしたちは3人で入場したので1400＋500×2＝2400円かかりました。途中で妻が買い物にいったので私と子供だけ延長30分して後払いしました。1時間なんてあっという間です。</p>

<p>料金がわりと高いせいか人が少なくて大満足でした。</p>


<p>受付を済ませるとキャラクター達がおでむかえ。傘置き場やベビーカー置き場もあります。</p>

<p class="al-c"><img src="/images/post-image/20180827/nikohapikids-05.jpg"></p>

<p>ロッカーも充実しています。靴を脱いで入るのでここに靴を入れられるばかりかリュックやトートバッグなども入れられる大きさです。</p>

<p class="al-c"><img src="/images/post-image/20180827/nikohapikids-06.jpg"></p>

<p>入って正面にはさっそくわんわんとうーたんが！子供も大興奮！かと思いきやビビっって逃げましたorz　抱っこして近づいても怖いみたいで写真も上手に撮れません。うーん‥1歳半には早いのか？</p>

<p class="al-c"><img src="/images/post-image/20180827/nikohapikids-07.jpg"></p>

<p>それからサボさんとコッシーもいます。コッシーは大人でも座れる頑丈な椅子でした。このコッシーは残念ながら動きませんけど。ここでもうちの子はコッシーに近付こうとしなかった。</p>

<p class="al-c"><img src="/images/post-image/20180827/nikohapikids-08.jpg"></p>

<p>あとはボールプールがあります。このプール結構広くてちびっこたちがわいわい遊んでました。</p>

<p class="al-c"><img src="/images/post-image/20180827/nikohapikids-09.jpg"></p>

<p>あとは小さいアスレチック部屋がいくつかありました。お絵かき部屋、地面に映像が映ってて遊べるゲーム部屋、ままごと部屋。あとはボールプールには滑り台がくっついてて、そこで滑ることもできます。（小部屋が暗くて写真はなし）</p>

<p class="al-c"><img src="/images/post-image/20180827/nikohapikids-10.jpg"></p>

<p>勿論ガラピコムームーチョロミーも鎮座しているので一緒に写真をとりました。どうも子供は苦手みたい。。</p>

<p class="al-c"><img src="/images/post-image/20180827/nikohapikids-11.jpg"></p>

<p>いすのまちのおさんぽマップがあってボタンが付いています。これ押すと反応して画面が光ったり解説が流れたりします。子供はこういうのはよくボタン押して遊んでました。</p>


<p class="al-c"><img src="/images/post-image/20180827/nikohapikids-12.jpg"></p>

<p>最後はキャラクターみんながバイバイしてお見送り！</p>

<p class="al-c"><img src="/images/post-image/20180827/nikohapikids-13.jpg"></p>



<h2 class="midasi2">にこはぴきっずでイベントが開催されている</h2>


<p>写真は撮ってないのですが私達が行った時には営業時間内で<span class="box-yellow b">1時間に2回の頻度でイベントが開催</span>されていました。受付入場するときにイベントのタイミングで入る事を勧められましたがウチの子は落ち着いて参加できないのでイベント関係なしで入場しました。</p>

<p>どういったイベントかというと、モニターがある部屋があって、モニターにわんわん、うーたん、がらぴこ、オフロスキーなんかのキャラクターが出てきます。それで<span class="red">画面のキャラクターと一緒に踊ったりみたいな感じ。子どもたちの姿もモニターに反映されるので画面の中では一緒に遊んでるような感じ</span>です。最後に記念写真をとって欲しければ購入。</p>

<p>このイベント横で見てました。子どもたち5人ぐらい参加してたかな。うちの子はわんわんやうーたんが画面に出て話しかけたりしてるけどお構いなし。わーわーはしゃいでどっか行っちゃいました。なのでちゃんと遊べる子だと楽しめるんじゃないかなーと。
</p>

<p>イベントは「わんわんうーたんの回」「オフロスキーの回」「ガラピコの回」みたいに別れてるのでお目当てのタイミングで入場されると良いでしょう。</p>

<h2 class="midasi2">グッズ売り場で購入！</h2>

<p class="al-c"><img src="/images/post-image/20180827/nikohapikids-15.jpg"></p>

<p>グッズ売り場には色んなのが売ってます。大きい人形は怖いみたいなので小さめのうーたん人形だけ買って帰りました。これ抱っこして落ち着いてるので買ってよかったと思います。</p>


<h2 class="midasi2">総括</h2>

<p>うちの子供はおてんばであまり他の小さな子が居るところでは邪魔になっちゃって遊ばせられない感じです。（とはいっても今日はうちの子が一番小さかったかも）けど<span class="red b">中が広くて走り回っても大丈夫（客が少ないのが大きいか）</span>だし、ふわふわの階段の上り下りも何回もやって満足してました。床に寝転んだりボタン押したりマグネットをとったり貼ったりして。</p>

<p>そういえばあまりキャラクターと遊んでない気がしますが（笑）90分広々と使えてしっかり遊んで。変な人もいなかったし大満足です。また来たいと思いました。
</p>


</div>



