<% content_for :meta do %>
<!-- valuecommerceのLinkSwitch -->
<script type="text/javascript" language="javascript">
var vc_pid = "885254078";
</script><script type="text/javascript" src="//aml.valuecommerce.com/vcdal.js" async></script>
<% end %>

<% @page_title =  '【渋谷駅】子連れで食事、赤ちゃんが喜ぶカフェ/居酒屋/レストラン21店舗' %>

<% content_for :cover do %>
  <div class="cover2">
    <div class="cover2-inner">
      <div class="cover2-contents">
        <h1>渋谷駅で子連れで食事、赤ちゃんが喜ぶ【カフェ/居酒屋/レストラン】をご紹介！</h1>
      </div>
    </div>
  </div>
<% end %>

<div class="special-cont">
  


<p>子連れ、赤ちゃん、乳児と一緒にランチやディナーを、と思ったら<span class="red b">渋谷駅周辺は恵まれている</span>と思います。</p>

<p>東京駅よりも断然子連れにやさしいお店が多いので食事や子供とのママ会をするなら渋谷は毎回選択肢に入る駅といっていいです。</p>

<p>渋谷駅周辺は<span class="red"><u>駅直結でいけるヒカリエや、マークシティと暑い日も雨の日も徒歩やベビーカーでアクセスしやすい</u></span>のもなおよいと思います。</p>

<p>このページではヒカリエ側、マーアクシティ側、駅ビル（東急）、西武渋谷その他と分けて子連れ・乳児可能なお店、カフェ、居酒屋、レストランをご紹介します！</p>




<h2 class="midasi2">渋谷ヒカリエで子連れで食事するなら</h2>

<img src="/images/map/map-shibuya-hikarie.png" >

<p class="m50-t">ヒカリエは渋谷駅から直結の商業ビルですが<span class="box-yellow">地下2階にスイッチルームという名のベビールーム</span>があります。
<span class="box-yellow">授乳室やキッズトイレ</span>もあるので安心です。</p>

<p>また各階にある<span class="red">多機能トイレ内のおむつ替え台</span>も利用できますが混んでる時もあるので、レストラン街は上階ですのでB2まで降りることになっちゃいますが、その方が早い場合もあります。</p>

<p>飲食店は完全禁煙ですしヒカリエには駐車場もあります。子供赤ちゃん連れでアクセスするのにおすすめの施設です。</p>



<h3 class="midasi3">FLOWERS Common（フラワーズ コモン）</h3>

<p>ヒカリエ7階に入居するファミリー、カップルなど様々な人が往来するカフェです。渋谷にしては店内非常に広く子連れでも周りを気にせず食事ができるのがとてもいい感じです。</p>

<p>駅直結かつ7階まではもちろんエレベーターで行けて店内へのベビーカー入りも大丈夫です。ソファ席もあるしキッズチェアや子供食器も用意してもらえます。</p>

<p>ランチ、ディナーともに前日までの予約ができます。店内混むこともあるので予約で行くのが無難です。</p>


<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r8065529573833"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r8065529573833"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r2682083254972"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r2682083254972"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r9052079432737"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r9052079432737"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r7037924437286"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r7037924437286"></a></div>
</div>


<blockquote>
<p>
東京都渋谷区渋谷2-21-1 渋谷ヒカリエ 7F
</p>
<p>
[ 月～土 ]
11：00～23：30 (L.O 22：30)

[ 日 ]
11：00～23：00 (L.O 22：00)

【予約時間】
ランチ：11:00～11:30ご来店のお客様
　　　　　※ランチご利用の方のみ
ディナー：17:00～21:00
　　　　　※お食事ご利用の方のみ
</p>
<p>
子供可
</p>

<p class="al-c"><a href="https://tabelog.com/tokyo/A1303/A130301/13140094/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>

</blockquote>


<h3 class="midasi3">THE THEATRE TABLE（ザ シアターテーブル）</h3>

<p>ヒカリエの11階に入居する明るくてかわいいイタリアンカフェがこちら。ランチ時は子供連れのママ達が多く混雑しています。予約しての来店がおすすめ。</p>

<p>ベビーカー入店もでき、席と席の間が広いので横付けできる席がつかえることもあります。キッズチェアは今の所ないそうでソファ席での利用がおすすめです。テラス席も子供は喜ぶかもしれません。</p>

<p>ランチはメイン料理に前菜ビュッフェなので店内他のお客さんで溢れることも。歩き回るお子さんは気をつけてください。</p>


<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r4178151990424"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r4178151990424"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r3874732983383"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r3874732983383"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r9534279820896"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r9534279820896"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r3993032983922"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r3993032983922"></a></div>
</div>


<blockquote>
<p>
東京都渋谷区渋谷2-21-1 渋谷ヒカリエ 11F
</p>
<p>
11:30am-24:00pm 
( Lunch 11:30-15:00 / Café 15:00-18:00 / Dinner 18:00-24:00 )

</p>
<p>
子供可、ベビーカー入店可

※お持ち込みは既製品の離乳食のみ可能です。
</p>

<p class="al-c"><a href="https://tabelog.com/tokyo/A1303/A130301/13137242/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>

</blockquote>

<h3 class="midasi3">ライスピープル　ナイスピープル 渋谷ヒカリエ （Rice people,Nice people!）</h3>

<p>ヒカリエの7階に入居するアジアンな異国風レストラン。</p>

<p>席と席のあいだが比較的広く子連れでも通りやすいのが良い感じです。ベビーカーでも入れますし子供椅子もあるのでおすすめです。</p>

<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r5681475053226"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r5681475053226"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r4703437162979"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r4703437162979"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r8274354631867"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r8274354631867"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r2880140252492"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r2880140252492"></a></div>
</div>


<blockquote>
<p>
東京都渋谷区渋谷2-21-1 渋谷ヒカリエ 7F
</p>
<p>
［月〜土］11:00～23:30
［日］11:00〜23:00

</p>
<p>
子供可

ベビーカー入店可能な広々とした席あり
ベビーチェア（STOKKE製 「Tripp Trapp」）×2台有り
</p>

<p class="al-c"><a href="https://tabelog.com/tokyo/A1303/A130301/13140100/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>

</blockquote>

<h3 class="midasi3">カイルアウィークエンド</h3>

<p>こちらはヒカリエ7階に入居する女子率の高いハワイアンカフェ。定番のロコモコ、パンケーキ、ヘルシーな野菜料理も。</p>

<p>個室(1つ)やソファー席もあるので子供の年齢によってはそちらがおすすめ。自分で椅子に座れる子ならキッズチェアを借りられます。赤ちゃんならベビーカーのまま横付けで入れさせてもらえると良いと思います。</p>


<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r6952832026611"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r6952832026611"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r4257318583803"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r4257318583803"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r6847432026076"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r6847432026076"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r2534041537555"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r2534041537555"></a></div>
</div>


<blockquote>
<p>
東京都渋谷区渋谷2-21-1 渋谷ヒカリエ 7F TABLE7
</p>
<p>
月～土　11:00～23:30
　　　※ラストオーダー
　　　　Food：22:30、Drink：23:00
日　　　11:00～23:00
　　　※ラストオーダー
　　　　Food：22:30、Drink：23:00
</p>
<p>
子供可
キッズチェアー有り
</p>

<p class="al-c"><a href="https://tabelog.com/tokyo/A1303/A130301/13140102/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>

</blockquote>

<h3 class="midasi3">ル・パン・コティディアン 渋谷ヒカリエShinQs店</h3>

<p>ヒカリエの地下2階に入るベーカリーカフェ。渋谷駅から直結でアクセスもしやすいです。店頭販売のほか中での飲食もできます。</p>

<p>地下2階には授乳室、おむつ交換台のあるルームがあるので使いやすいですね。</p>


<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r3689488795563"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r3689488795563"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r1490484418698"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r1490484418698"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r4882784625199"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r4882784625199"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r4881184625179"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r4881184625179"></a></div>
</div>


<blockquote>
<p>
東京都渋谷区渋谷2-21-1 渋谷ヒカリエ B2F
</p>
<p>
10:00 - 21:00 (20:30 L.O.)

日曜営業
</p>
<p>
子供可（乳児可、未就学児可、小学生可）
</p>

<p class="al-c"><a href="https://tabelog.com/tokyo/A1303/A130301/13220048/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>

</blockquote>




<h2 class="midasi2">渋谷区道玄坂方面の子連れOKな飲食店</h2>

<img src="/images/map/map-shibuya-markcity.png" >

<h3 class="midasi3">菜な 渋谷マークシティ店</h3>

<p>渋谷駅から直結のマークシティ内にあるお店です。駅からベビーカーでいけるので便利。</p>

<p>渋谷にしては珍しく座敷があったり個室が使えるので赤ちゃん持ちのママにはとても助かります。ベビーカーは入り口にたたんで置かせてもらえます。</p>

<p>お店を出てスグ横にトイレがありおむつ台と授乳が出来るのでこれも大助かり。渋谷に子供連れでいくなら外せない店舗の1つです。</p>

<p>料理は京料理ということで和食です。ランチタイムならリーズナブルにすませられますよ。</p>


<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r204428522605"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r204428522605"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r2394577626438"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r2394577626438"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r0861379552403"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r0861379552403"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r2417477626848"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r2417477626848"></a></div>
</div>


<blockquote>
<p>
東京都渋谷区道玄坂1-12-5 渋谷マークシティ RESTAURANTS AVENUE 4F
</p>
<p>
［平日］11:00～16:00（L.O.15:00） 17:00～23:00（L.O.22:00）
［土日祝］11:00～23:00（L.O.22:00）

日曜営業
</p>
<p>
子供可、ベビーカー入店可
</p>

<p class="al-c"><a href="https://tabelog.com/tokyo/A1303/A130301/13108850/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>

</blockquote>


<h3 class="midasi3">チェルシーカフェ 渋谷マークシティ店 （CHELSEA CAFE）</h3>

<p>渋谷駅から直結でマークシティにいけますが、そのまま直進してマークシティの出口付近左手にあるのがこちらのカフェ。</p>

<p>小さめの階段になってるのでベビーカーは持ち上げて入る必要があります。テラス席なら横付けで、または店内のテーブル席となります。</p>

<p>店内ちょっと狭い感じのおしゃれカフェですが子連れママもベビーカー毎入ってる方もいらっしゃいました。店員さんも子連れには慣れてる様子でした。</p>


<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r4260972326200"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r4260972326200"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r1070123490900"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r1070123490900"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r4272172326287"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r4272172326287"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r3508422304439"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r3508422304439"></a></div>
</div>


<blockquote>
<p>東京都渋谷区道玄坂1-12-1 渋谷マークシティ 4F
</p>
<p>
10:00～23:00（L.O.22:30）
　ランチ10:00～15:00</p>

<p class="al-c"><a href="https://tabelog.com/tokyo/A1303/A130301/13161333/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>

</blockquote>


<h3 class="midasi3">トムボーイ 106 モアイカフェ 渋谷道玄坂店</h3>

<p>渋谷の道玄坂中頃にあるシネタワーの地下2階にあります。渋谷駅のスクランブル交差点からアクセスすることになるのでベビーカーだと坂を上がることになりますし混雑してるとちょっと大変かも。徒歩数分で到着。（駅直結のマークシティを通って出て坂を下ってアクセスしてもいいかも）</p>

<p>シネタワー内エレベーターはあると思うのですが見つけられず、エスカレーターで地下2階へ。ベビーカー入店OK。店内は広くアジアンな雰囲気でソファ個室、座敷個室があるので赤ちゃんも安心。子供連れ大歓迎ということでキッズメニューもあります。</p>

<p>徒歩でのアクセスはちょっと歩きますが車ならビル屋上の駐車場は利用できます（有料）</p>



<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r8353556291650"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r8353556291650"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r7233250830913"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r7233250830913"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r7234450830917"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r7234450830917"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r7234050830916"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r7234050830916"></a></div>
</div>


<blockquote>
<p>
東京都渋谷区道玄坂2-6-17 渋東シネタワー B2F
</p>
<p>
11:00～24:00(LO23:30)


日曜営業
</p>
<p>
子供可（乳児可、未就学児可、小学生可）、お子様メニューあり、ベビーカー入店可

お子様連れ大歓迎です。
</p>

<p class="al-c"><a href="https://tabelog.com/tokyo/A1303/A130301/13104579/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>

</blockquote>


<h3 class="midasi3">シェ松尾 渋谷東急本店</h3>


<p>東急百貨店の本店8階に入居するのがフレンチの名店です。徒歩やベビーカーだと駅から離れているのでアクセスは気合を入れて（笑）車ならビル内の駐車場を使えます。</p>

<p>授乳室やおむつ台はベビーフロアの6階にあるのでそちらを利用。</p>

<p>カジュアルですが本格フレンチが楽しめ子供向けのメニューもあります。またアレルギー対応も応相談です。</p>



<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r3954688398808"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r3954688398808"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r8051388370542"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r8051388370542"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r169331846700"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r169331846700"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r4442638988144"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r4442638988144"></a></div>
</div>


<blockquote>
<p>
東京都渋谷区道玄坂2-24-1 東急百貨店本店 8F
</p>
<p>
ランチタイム　　11:00～14:00（L.O.14:00）
ティータイム　　14:00～17:00
ディナータイム　17:00～22:30（L.O.21:45）


日曜営業
</p>
<p>
子供可（乳児可、未就学児可、小学生可）
</p>

<p class="al-c"><a href="https://tabelog.com/tokyo/A1303/A130301/13001926/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>

</blockquote>




<h2 class="midasi2">東急百貨店 渋谷駅・東横店</h2>

<p>こちらは渋谷駅直結のビルです。（JR渋谷玉川改札、地下鉄渋谷駅東急東横改札）</p>

<p>6階の子供服や婦人服フロアにおむつ換え台、授乳室があります。</p>


<h3 class="midasi3">カフェ クッチーナ&amp;カンパニー</h3>

<p>百貨店の南館6階にあるパンケーキのカフェです。同じフロアの近くにトイレやベビールームがあるので利用しやすいでしょう。</p>

<p>駅直結なので多少混む場合もありますが店内広くテーブル席しかありませんが、ベビーカーでの入店もできて助かります。</p>

<p>初めて来た方は南館と西館と迷うかもしれない。</p>


<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r3654248935812"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r3654248935812"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r3627941788271"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r3627941788271"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r3282029488744"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r3282029488744"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r8712048215078"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r8712048215078"></a></div>
</div>


<blockquote>
<p>
東京都渋谷区渋谷2-24-1 東急百貨店東横店 南館 6F
</p>
<p>
10:00～21:00（L.O.20:30）

日曜営業
</p>
<p>
子供可

ベビーカーでの入店可
</p>

<p class="al-c"><a href="https://tabelog.com/tokyo/A1303/A130301/13153572/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>

</blockquote>



<h3 class="midasi3">kawara CAFE&amp;KITCHEN + PLUS 東急東横店（カワラ カフェアンドキッチン プラス）</h3>


<p>渋谷駅直結の東急百貨店の西館9階に入居するカフェです。子供は乳児からOK！歓迎となっています。個人的には店内ちょっと手狭ななのでベビーカーでの入店は躊躇します。また大人がゆったりゆっくりしたい方向けのお店なのかなという雰囲気です。騒いだり歩き回る乳児がいる場合はちょっとむずかしいと感じます。おとなしく出来る子供とならくつろげるいいカフェだと思います。</p>


<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r0347029772009"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r0347029772009"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r2065660915202"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r2065660915202"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r0057546318425"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r0057546318425"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r2741029899756"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r2741029899756"></a></div>
</div>


<blockquote>
<p>
東京都渋谷区渋谷2-24-1 東急百貨店東横店 西館 9F
</p>
<p>
【ランチ】
11：00～17：00
【ディナー】
17：00～22：30（ラストオーダー22:00）

日曜営業
</p>
<p>
子供可（乳児可、未就学児可、小学生可）、ベビーカー入店可

歓迎です。
</p>

<p class="al-c"><a href="https://tabelog.com/tokyo/A1303/A130301/13170810/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>

</blockquote>




<h2 class="midasi2">西武渋谷</h2>

<img src="/images/map/map-shibuya-seibu.png" >

<p>渋谷駅から徒歩数分で到着する西武渋谷にはA館7階にベビー休憩室がありそこでおむつ交換、授乳室があります。</p>


<h3 class="midasi3">ごはんカフェ　渋谷店</h3>

<p>西武渋谷のA館地下2階に入るごはんカフェ。健康にいい和食のレストランです。店内は落ち着いているのと席の間が広めなのでベビーカーでも大丈夫です。ベビー休憩室が7階なのでちょっと遠いかもしれません。</p>


<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r5911125471103"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r5911125471103"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r0361024631703"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r0361024631703"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r3599757787670"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r3599757787670"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r5910425471100"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r5910425471100"></a></div>
</div>


<blockquote>
<p>
東京都渋谷区宇田川町21-1 西武渋谷店 A館B2F
</p>
<p>
施設に準じる
</p>

<p class="al-c"><a href="https://tabelog.com/tokyo/A1303/A130301/13165428/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>

</blockquote>


<h3 class="midasi3">シナグロ　西武渋谷</h3>

<p>こちらも西武渋谷のA館の地下2階です。</p>

<p>健康志向な方のためにオーガニックな前菜などビュッフェスタイルのレストランです。やはり2階なのでベビールームはエレベーターで上階をご利用頂く感じです。</p>

<p>店内広くベビーカーでの入店もできますし、子供椅子も用意してもらえます。</p>


<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r2152546257014"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r2152546257014"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r4387846268396"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r4387846268396"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r9403716405607"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r9403716405607"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r2114846256853"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r2114846256853"></a></div>
</div>


<blockquote>
<p>
東京都渋谷区宇田川町21-1 西武渋谷店 A館 B2F
</p>
<p>
[月～金]
LANCH
11:00～16:30(L.O)
DINNER
17:00～20:30(L.O)
[土・日・祝]
LANCH
11:00~15:30(L.O)
DINNER
16:00～20:30(L.O)

日曜営業
</p>
<p>
子供可（乳児可、未就学児可、小学生可）、ベビーカー入店可
</p>

<p class="al-c"><a href="https://tabelog.com/tokyo/A1303/A130301/13150447/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>

</blockquote>




<h3 class="midasi3">タンドゥール 西武渋谷店</h3>

<p>西武渋谷の地下2階に入るインド料理。カレーとナンを食べたいと思ったらこちら。弁当の販売のほかイートインもあるので中でも本格カレーが食べられます。</p>


<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r5649777474959"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r5649777474959"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r5650077474963"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r5650077474963"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r1428249453486"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r1428249453486"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r5650477474972"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r5650477474972"></a></div>
</div>


<blockquote>
<p>
東京都渋谷区宇田川町21-1 西武渋谷店A館 B2F
</p>
<p>
[月～土] 10:00～21:00 [日・祝] 10:00～20:00
</p>
<p>
子供可（乳児可、未就学児可、小学生可）、ベビーカー入店可
</p>

<p class="al-c"><a href="https://tabelog.com/tokyo/A1303/A130301/13193980/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>

</blockquote>





<h2 class="midasi2">その他エリア</h2>

<p>ちょっと歩くけどいいお店がいくつかあるので紹介いたします。</p>

<h3 class="midasi3">USHIHACHI （ウシハチ）渋谷店</h3>

<p>渋谷駅前ビルで駅から徒歩1分の立地。子供と一緒に焼き肉を食べたくなったらココ。ランチメニューもあります。</p>

<p>乳児からOKですがベビーカーでのエレベーター移動は混雑するとちょっと大変になるので予約を入れるなどゆとりを持ったアクセスがおすすめです。</p>

<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r2096369655661"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r2096369655661"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r2067269655543"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r2067269655543"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r6819271990150"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r6819271990150"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r2068169655547"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r2068169655547"></a></div>
</div>


<blockquote>
<p>
東京都渋谷区道玄坂2-3‐1 渋谷駅前ビル 4Ｆ
</p>
<p>
11:00～23:00(LO 22:30)日曜営業
平日／11：00～14：00（ランチセットメニュー有）
</p>
<p>
子供可（乳児可、未就学児可、小学生可）
</p>

<p class="al-c"><a href="https://tabelog.com/tokyo/A1303/A130301/13208724/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>

</blockquote>


<h3 class="midasi3">OLI（オリ）渋谷</h3>

<p>渋谷駅徒歩3分、有名なセルリアンタワー東急ホテル内の2階に入っているイタリアンカフェです。駅からベビーカーだとちょっと坂道もあって歩きます。</p>

<p>レストランはホテル内ですが宿泊客以外でも飲食できますし完全禁煙で落ち着いていますがザワザワ感もあり子連れには過ごしやすいでしょう。</p>

<p>子供は乳児からOKで、キッズメニューは無いもののキッズチェアも出してもらえますし、ベビーカー横付けしやすい席もあります。</p>

<p>おむつ台は地下1階にあります。</p>


<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r1447688117929"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r1447688117929"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r3465469721073"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r3465469721073"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r8393549998249"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r8393549998249"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r4752343714960"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r4752343714960"></a></div>
</div>


<blockquote>
<p>
東京都渋谷区桜丘町26-1 セルリアンタワー東急ホテル 2F
</p>
<p>
[月～金]
11:00～16:30(L.O.14:30)
17:30～23:00(L.O.22:00)
[土・日・祝]
11:00～16:30(L.O.15:30)
17:30～23:00(L.O.22:00)
</p>
<p>
子供可（乳児可）
</p>

<p class="al-c"><a href="https://tabelog.com/tokyo/A1303/A130301/13005406/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>

</blockquote>



<h3 class="midasi3">デイライトキッチン</h3>

<p>駅徒歩だと少し歩きますがセルリアンタワーの裏手にある自然派なレストランで渋谷に訪れるママ御用達なお店です。駐車場はなく付近のコインパーキング利用（有料）にて。</p>


<p>入り口階段があるように見えますが横から入ればベビーカーでも大丈夫。店内広くベビーカーでの入店OKです。キッズチェアもあるのでお好きな席へ。</p>

<p>キッズメニューや離乳食もありアレルギー持ちにもある程度対応可能とのことで要事前相談です。アレルギーを気にされる方は持ち込みを、とのこと。またおむすびや米粉マフィンもあるので小麦粉がダメなお子さんも安心です。</p>

<p>おむつ台もあるので駅から離れた場所での食事も安心ですね。</p>


<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r2422711201433"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r2422711201433"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r0215531867083"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r0215531867083"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r6523617538450"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r6523617538450"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r2431511201458"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r2431511201458"></a></div>
</div>


<blockquote>
<p>
東京都渋谷区桜丘町23-18 ビジョナリーアーツ 1F
</p>
<p>
Lunch 11:00-15:00
Cafe 15:00-18:00 (L.O.17:00)
Dinner 18:00-22:30 (L.O 21:30)

※月曜日はdinnerをお休みしております。
※日曜日は22:00 close (L.O 21:00)です。
</p>
<p>
子供可
</p>

<p class="al-c"><a href="https://tabelog.com/tokyo/A1303/A130301/13113772/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>

</blockquote>




<h3 class="midasi3">肉バル SHOUTAIAN（ショウタイアン）</h3>

<p>セルリアンタワーの裏手にあるお肉が美味しいお店。ハンバーグ、牛肉、ステーキなどはこちら。徒歩だとちょっと歩きますね。</p>

<p>入り口下りの階段がありますが乳児からOKでベビーカー入店可（手伝ってくれるそう）また離乳食持ち込みも可です。</p>

<p>高い席があるので子連れの場合は予め予約をして行ったほうが無難です。</p>


<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r3885434007362"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r3885434007362"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r0279882861933"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r0279882861933"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r0277182861921"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r0277182861921"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r0288082861988"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r0288082861988"></a></div>
</div>


<blockquote>
<p>
東京都渋谷区桜丘町24-8 新南平台マンション 1Ｆ
</p>
<p>
【ランチ】
11:30～14:30（L.O.14:00）

【ディナー】
月〜土・祝　17:00～23:00（L.O.22:30）
日曜日　17:00～22:00（L.O.21:30）

日曜営業
</p>
<p>
子供可（乳児可、未就学児可、小学生可）、ベビーカー入店可

店内に段差有り。入店時はお手伝いいたします。
</p>

<p class="al-c"><a href="https://tabelog.com/tokyo/A1303/A130301/13156252/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>

</blockquote>




<h3 class="midasi3">KICHIRI 渋谷 宮益坂下</h3>

<p>ラコステビルの3・4階に入っている子供連れに優しいダイニングバーKICHIRI。ランチもディナーもやっていてランチはほぼ子連れママでいっぱい。それもそのはずランチタイムは授乳室やおむつ交換スペースなども用意されているからです。</p>

<p>掘りごたつ座敷の半個室があったり子供が自由に歩けるオープン席も用意されています。子供向けのお子様ランチあり、お店も子連れ大歓迎ということでとても使いやすいお店です。</p>

<p>渋谷にもう1店舗ありますが、そちらには授乳室無しです。</p>

<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r6181114778953"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r6181114778953"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r6504077102142"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r6504077102142"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r6758930773454"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r6758930773454"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r5292125138404"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r5292125138404"></a></div>
</div>


<blockquote>
<p>
東京都渋谷区渋谷1-15-19 ラコステ渋谷 3・4F
</p>
<p>
【LUNCH】11:30～16:00（LO15:30）
【DINNER】17:00～翌2:00（LO翌1:00）
</p>
<p>
授乳室あり離乳食持ち込みOKお子様メニューあり（ランチタイムのみ）お子様用椅子ありお子様用食器ありベビーカー入店OKベビーベッド・おむつ交換スペースあり、お子様大歓迎！
</p>

<p class="al-c"><a href="https://tabelog.com/tokyo/A1303/A130301/13145457/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>

</blockquote>




<h3 class="midasi3">ごっつ食べなはれ 渋谷店</h3>

<p>しゃぶしゃぶ食べ放題のお店、渋谷駅直結のヒカリエ青山出口から出ればすぐ目の前にあるビルに入居しています。</p>

<p>ビル2/3階となっていますが地上のゆるい坂から入る形ですがベビーカーでも大丈夫だと思います。</p>

<p>乳児からでも、またベビーカー入店OKです。子連れ親子がしゃぶしゃぶ‥というのはレアでしょうか？ランチにディナーも完全禁煙なのも嬉しいですね。</p>

<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r3539971285075"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r3539971285075"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r7608471603056"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r7608471603056"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r7292671600602"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r7292671600602"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r7291571600587"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r7291571600587"></a></div>
</div>


<blockquote>
<p>
東京都渋谷区渋谷2-17-5 シオノギ渋谷ビル 2・3F
</p>
<p>
【ランチ】予約不可
11:30～15:00(L.O14:30) 
【ディナー】
17:00～23:00(L.O22:30)※最終入店21:00
</p>
<p>
子供可（乳児可、未就学児可、小学生可）、ベビーカー入店可
</p>

<p class="al-c"><a href="https://tabelog.com/tokyo/A1303/A130301/13211361/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>

</blockquote>



<h3 class="midasi3">魚魯魚魯 渋谷宮益坂店</h3>

<p>和食居酒屋ですがランチタイムも営業中で平日限定ランチはブッフェスタイルです。個室・掘りごたつ席・椅子ソファ席など多様です。ベビーカーでの入店もできます。</p>

<p>通常喫煙ですが個室もあるしランチ中は分煙なので禁煙のほうに通してもらいましょう。</p>


<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r5956159169531"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r5956159169531"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r6112586669457"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r6112586669457"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r9934086636743"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r9934086636743"></a></div>
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r1518821766263"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r1518821766263"></a></div>
</div>


<blockquote>
<p>
東京都渋谷区渋谷1-12-1 カレイド渋谷宮益坂 5F
</p>
<p>
【平日ランチ】
11：30～14：30

【ディナー】
月～木
16：30～23：30

金
16：30～翌5：00

土曜日
14：30～23：30

日祝祭日
14：30～23：00

日曜営業
</p>
<p>
子供可（乳児可、未就学児可、小学生可）、ベビーカー入店可

個室もございますので、安心してご飲食いただけます。
・受け入れ対象：乳児からOK
・設備・サービス：離乳食持ち込みOKお子様用食器ありベビーカー入店OK
</p>

<p class="al-c"><a href="https://tabelog.com/tokyo/A1303/A130301/13027695/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>

</blockquote>





</div>



