<% content_for :meta do %>
<!-- valuecommerceのLinkSwitch -->
<script type="text/javascript" language="javascript">
var vc_pid = "885254078";
</script><script type="text/javascript" src="//aml.valuecommerce.com/vcdal.js" async></script>
<% end %>

<% @page_title =  '【東京駅】子連れで食事、赤ちゃんが喜ぶカフェ/居酒屋/レストラン9店舗' %>

<% content_for :cover do %>
  <div class="cover2">
    <div class="cover2-inner">
      <div class="cover2-contents">
        <h1>東京駅で子連れで食事、赤ちゃんが喜ぶ【カフェ/居酒屋/レストラン】をご紹介！</h1>
      </div>
    </div>
  </div>
<% end %>

<div class="special-cont">
  
<p>東京駅といえばビル街、ビジネスの街という印象があるかと思いますが一方で美味しい料理のお店が非常に多い激戦区でもあります。</p>

<p>そして<span class="red"><u>土日に子連れでランチを楽しむ方、遠方から観光で来られた方、ママ友同士で集まりたい方</u></span>など様々です。</p>

<p class="m30-t">街としては非常に大きいものの<span class="box-yellow">実は子連れで気兼ねなく楽しめる飲食店は、駅の規模を考えると<span class="b f12em">残念ながらほんっとうに少ない</span></span>と思います。そんな中でも子連れ、乳児と一緒でも大丈夫なカフェ、レストラン、居酒屋をなんとか9店舗紹介したいと思います。</p>

<p>八重洲側と丸の内側でわけます。アクセスしやすい所を選んでみてください。</p>


<p class="m30-t">ポイントとしては<span class="b">ベビーカーでもアクセス</span>しやすいかどうか、カジュアルな雰囲気で<span class="b">乳児が泣いたり騒いで</span>も大丈夫か、<span class="b">授乳室やおむつ台</span>があればなおヨシ、なお店です。</p>



<h2 class="midasi2">東京駅の丸の内側、子連れOKなお店一覧</h2>


<h3 class="midasi3">ゴドノフ東京 丸の内店</h3>





<p>丸の内ビルディング（丸ビル）5階に入居するゴドノフはロシア料理のお店です。店内は完全禁煙で広さもあるのでベビーカー入店も大丈夫です。キッズメニューはありませんが料理は日本人の口にもあうかと思います。</p>

<p>同じ階に多目的トイレがあるのでおむつ交換は問題ありません。また授乳室は同フロアには無いので2階の降りる必要があります。</p>


<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r6598883885560"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r6598883885560"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r6587483885439"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r6587483885439"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r6587183885435"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r6587183885435"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r7483781799498"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r7483781799498"></a></div>
</div>

<blockquote>
<p>東京都千代田区丸の内2-4-1 丸の内ビルディング5階</p>

<p>【平日】<br>
11：00～15：00までランチタイム（30分前L.O）<br>
17：00～23：00通常メニュー<br>
【土】<br>
11：00～23：00通常メニュー<br>
【日・祝】<br>
11：00～22：00通常メニュー</p>

<p>子供可（乳児可、未就学児可、小学生可）、ベビーカー入店可</p>

<p class="al-c"><a href="https://tabelog.com/tokyo/A1302/A130201/13218572/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>

</blockquote>


<h3 class="midasi3">ザ リンゴ マルノウチ</h3>






<p>カジュアルなスパニッシュレストランです。丸ビルの5階に入っているので禁煙ですし、おむつ交換や授乳室も階を移動すれば大丈夫です。加えてこちらのお店は個室もあるのでタイミングが良ければ利用できます。</p>

<p>土日祝日は混雑気味、平日のランチや6人まで入れる個室での利用がおすすめ。</p>


<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r3578086852963"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r3578086852963"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r3614186853371"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r3614186853371"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r3609786853336"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r3609786853336"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r3685286854022"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r3685286854022"></a></div>
</div>



<blockquote>

<p>東京都千代田区丸の内2-4-1 丸の内ビルディング 5F</p>

<p>［月～日］<br>
11:00～15:00(LO 14:00)<br>
17:00～23:00(LO 22:00)<br>
日曜営業</p>

<p>子供可（乳児可、未就学児可、小学生可）</p>

<p class="al-c"><a href="https://tabelog.com/tokyo/A1302/A130201/13219625/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>

</blockquote>






<h3 class="midasi3">葡萄の杜 互談や 東京ビルTOKIA</h3>


<p>KITTEと地下で繋がり、東京駅と直結している東京ビルTOKIA内の3階に入居しています。</p>

<p>ランチは幼児500円、3才以下は無料で食べられるビュッフェスタイル。広めの店内で全席禁煙、半個室もあり子供、乳児連れ、ママ会にもぴったり。</p>

<p>同3階におむつ交換ができる多目的トイレや授乳室があります。</p>

<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r1296281686345"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r1296281686345"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r1293881686325"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r1293881686325"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r9313952296783"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r9313952296783"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r1292981686309"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r1292981686309"></a></div>
</div>


<blockquote>

<p>東京都千代田区丸の内2-7-3 東京ビルTOKIA 3F</p>

<p>【ランチ】１１：００～１６：００（最終ご入店１４：３０）<br>
【ディナー】１７：３０～２３：００（最終ご入店２１：００）<br>
日曜営業</p>

<p>受け入れ対象：乳児からOK
設備・サービス：授乳室あり離乳食持ち込みOKお子様用椅子ありお子様用食器ありベビーカー入店OKベビーベッド・おむつ交換スペースあり</p>

<p class="al-c"><a href="https://tabelog.com/tokyo/A1302/A130201/13020124/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>

</blockquote>



<h3 class="midasi3">秋田比内地鶏生産責任者の店 本家あべや KITTE GRANCHE店</h3>





<p>親子丼や鳥料理が美味しいお店です。店内けっして広くはないのでベビーカー入店はできますが席横付けは難しいかもしれません。</p>

<p>KITTEビル内におむつ交換台は2,3,4,6階に。授乳室は5階にあります。</p>

<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r3083978736698"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r3083978736698"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r1010388313430"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r1010388313430"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r5984544776609"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r5984544776609"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r0946730252267"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r0946730252267"></a></div>
</div>




<blockquote>

<p>東京都千代田区丸の内2-7-2 KITTE B1F</p>


<p>[月〜金曜日]<br>
ランチ11:00～15:00（平日限定メニュー）<br>
カフェ15:00〜16:00<br>
ディナー16:00～23:00(L.O.22:00)<br>
<br>
[土曜日]<br>
11:00〜23:00(L.O.22:00)<br>
<br>
[日曜日 及び 連休最終日]<br>
11:00〜22:00(L.O.21:00)</p>

<p>子供可（乳児可、未就学児可、小学生可）、ベビーカー入店可</p>

<p class="al-c"><a href="https://tabelog.com/tokyo/A1302/A130201/13153694/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>

</blockquote>





<h3 class="midasi3">マンゴツリーキッチン パッタイ グランスタ丸の内</h3>





<p>東京駅改札でてすぐの地下1階にあるタイ料理のお店です。店内は広くはなくベビーカーは余裕があれば入れるとは思います。</p>

<p>本格タイ料理ですが辛さ調節はできるので子供でも食べられるでしょう。お店はからは少し歩きますがグランスタ丸の内北側におむつ交換台あり。授乳室は改札内ですね。</p>

<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r4069675919520"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r4069675919520"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r5553574359877"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r5553574359877"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r5556474359904"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r5556474359904"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r9759583650848"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r9759583650848"></a></div>
</div>


<blockquote>

<p>東京都千代田区丸の内1-9-1 JR東日本東京駅 B1F 改札外</p>


<p>[月～土・祝]<br>
7:00～22:00(L.O.21:30)<br>
[日・連休最終日の祝日]<br>
7:00～21:00(L.O.20:30)</p>

<p>子供可（乳児可）、ベビーカー入店可
混雑時はお待ちいただく場合やおたたみをお願いすることがあります。</p>


<p class="al-c"><a href="https://tabelog.com/tokyo/A1302/A130201/13212452/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>

</blockquote>

<!--
<h3 class="midasi3">個室・炉端料理 かこいや 丸の内二丁目店</h3>

地下1階のためベビーカーでは入りにくい。抱っこ紐でなら大丈夫。

<blockquote>
東京都千代田区丸の内2-5-2 三菱ビル B1F
[月～土] 11:30～14:00　17:00～23:00
[日・祝] 11:30～14:00　17:00～22:00

日曜営業

子供可、ベビーカー入店OK（土日祝可）
離乳食持ち込みOK、お子様ランチは要予約
</blockquote>

-->

<h2 class="midasi2">東京駅の八重洲側、子連れOKなお店一覧</h2>


<h3 class="midasi3">大天門 八重洲</h3>

<p>東京駅から徒歩でアクセスできるビルの地下1階にある中華料理屋さんです。</p>

<p>何故ココがお勧めなのかと言いますとお店の子供歓迎度でしょうか。お子様や乳児の食事案内に慣れているので安心して食事を楽しめます。</p>

<p>ランチタイムのみ分煙、個室や半個室があり騒がしい子供でも大丈夫です。</p>

<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r494153738627"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r494153738627"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r4212533212906"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r4212533212906"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r7454728914691"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r7454728914691"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r4248133212963"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r4248133212963"></a></div>
</div>

<blockquote>
<p>東京都中央区八重洲2-4-10 第一幸田ビルB1F</p>

<p>[月～金]<br>
11:30～14:30　（L.O 14:00）<br>
17:30～23:30　(L.O　22:30)<br>
<br>
[土、祝日]<br>
11:30～14:30　（L.O 14:00）<br>
17:30～23:00　(L.O　22:00)<br>
</p>

<p>子供可（乳児可、未就学児可、小学生可）、ベビーカー入店可</p>

<p>お子様メニューはございませんが、お子様が食べられるお料理をご用意させていただきます。
スタッフも子持ちですので、お気軽にお申し付けください。</p>

<p class="al-c"><a href="https://tabelog.com/tokyo/A1302/A130202/13106960/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>

</blockquote>


<h3 class="midasi3">Dining &amp; Bar LAVAROCK （ラヴァロック）</h3>


<p>ホテル1階にあるおしゃれなダイニングレストラン。ホテルにしてはリーズナブルです。平日限定で1200円ランチブッフェが楽しめるのがGOOD!</p>

<p>おむつ交換台、授乳室あり、ベビーカー入店OKと気兼ねなくくつろげるオススメのレストランです。</p>

<p>東京駅八重洲口からだとちょっと歩きますが、銀座線の京橋駅からのほうが近いです。</p>

<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r8324985399374"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r8324985399374"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r2454640218292"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r2454640218292"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r6762140333002"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r6762140333002"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r3530830477386"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r3530830477386"></a></div>
</div>


<blockquote>
<p>東京都中央区京橋2-1-3 コートヤード・バイ・マリオット 東京ステーション 1F</p>


<p>朝食7:00～10:00 <br>
ランチ11:30～14:30 <br>
ディナー<br>
平日<br>
17:30 ～ 23:00（フード22:00 L.O. / ドリンク22:30 L.O.）<br>
土曜日<br>
17:30 ～ 22:00（フード21:00 L.O. / ドリンク21:30 L.O.）<br>
日・祝日<br>
17:30 ～ 21:00（フード20:00 L.O. / ドリンク20:30 L.O.）<br>
日曜営業</p>

<p>お子様連れOK
ベビーベッド・おむつ交換スペースあり/ベビーカー入店OK/授乳室あり</p>

<p class="al-c"><a href="https://tabelog.com/tokyo/A1302/A130202/13167454/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>

</blockquote>


<h3 class="midasi3">ブラッスリー ポール・ボキューズ 大丸東京</h3>

<p>八重洲側にある大丸の12階に入っているカジュアルフレンチです。</p>

<p>駅直結でエレベーターは使いますがアクセスしやすく、店内広めのおすすめのレストランです。味は勿論のことお子様メニューあり、子供椅子も写真のとおりです。</p>

<p>アレルギー持ちの場合は予約時に相談すれば対応してもらえる点も嬉しい。</p>

<p>ベビー休憩室（授乳室、おむつ台）が大丸9階にあります。大丸のサービスとして3000円以上お買い上げで駐車場2時間無料。</p>

<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r55676898197"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r55676898197"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r9418681404720"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r9418681404720"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r7475529884734"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r7475529884734"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r3721984371750"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r3721984371750"></a></div>
</div>

<blockquote>


<p>東京都千代田区丸の内1-9-1 大丸東京店 12F</p>

<p>11:00～23:00（21:30　L.O.)</p>

<p>子供可
お子様同伴可能。お子様用の特別メニューあり</p>

<p class="al-c"><a href="https://tabelog.com/tokyo/A1302/A130201/13044389/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>


</blockquote>

<h3 class="midasi3">Bubby’s バビーズ　ヤエチカ</h3>

<p>八重洲地下街にあるカフェで休憩もしっかり食事もできます。</p>

<p>駅からベビーカーでアクセスもしやすい。店内はウッド調で広く子供椅子も勿論あります。</p>

<p>地下街すぐ近くにはおむつ台やベビーシートがあるので安心です。授乳室は八重洲地下には無い様子なので、大丸ビルの中を借りるなどすることになるかと思います。</p>

<div class="col-b">
<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r7437114362429"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r7437114362429"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r7432814362411"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r7432814362411"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r4910768518233"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r4910768518233"></a></div>

<div class="col"><a target="_blank" rel="nofollow" href="https://tabelog.com/imgview/original?id=r0268321763405"><img class="col-thumb" src="https://tabelog.com/imgview/original?id=r0268321763405"></a></div>
</div>

<blockquote>
<p>東京都中央区八重洲2-1 八重洲地下街 中3号</p>

<p>[平日]<br>
7:30～22:30 （LO 21:30）<br>
[土・日・祝]<br>
9:00～22:00 （LO 21:00）<br>
ディナータイムのみ予約可
</p>

<p>子連れOK</p>

<p class="al-c"><a href="https://tabelog.com/tokyo/A1302/A130201/13141697/" target="_blank" rel="nofollow"><img src="/images/bana-tabelog-01blue.png"></a></p>

</blockquote>



</div>



