<% @page_title =  '当サイトについて' %>

<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>当サイトについて</h1>
      </div>
    </div>
  </div>
<% end %>

<p>このサイトに関する概要をご紹介いたします。</p>

<h2 class="midasi2">サイト運営者</h2>
<p>このサイトの運営者情報です。</p>

<table>
<tr>
<th>所有者・管理者</th>
<td>株式会社ハピアント</td>
</tr>
<tr>
<th>住所</th>
<td>〒104-0061 東京都中央区銀座6-13-16 銀座WallビルUCF5階</td>
</tr>
<tr>
<th>会社URL</th>
<td><a href="http://happiant.co.jp/" target="_blank" class="external">http://happiant.co.jp/</a></td>
</tr>
</table>


<h2 class="midasi2">サイトの目的</h2>
<p>このサイトは小さなお子さんをもつパパ・ママのための情報サイトです。
私自身、赤ちゃん連れて外食したいと思っても入りにくかったり、騒ぐので周りの方に迷惑かなと思って躊躇して行けない事がほとんどです。</p>

<p>気軽に入れる飲食店があればいいのにと思っていて、実際に赤ちゃんWELCOMEなお店もたくさんあるものの、なかなか探すことが難しいなと感じています。</p>

<p>そこで全国のパパ・ママが赤ちゃん、子連れで行ける飲食店情報をシェアできれば皆さんの役に立つかもしれないと思いこのサイトを立ち上げました。</p>

<h2 class="midasi2">利用規約</h2>

<p>当サイトは無料で情報閲覧が可能です。また店舗の口コミ情報の投稿も誰でも可能となっております。</p>

<p>ユーザー登録、ログインもできますが、特に口コミを投稿するにあたってログインは必須ではありません。</p>

<p>ちなみに子(Ko)連れラ(Lu)ンチ口(Ku)コミから取ってKoLuKu「こるく」と名付けました。</p>

<h3 class="midasi3">免責事項</h3>

<p>サイトで扱う情報はなるべく最新性、正確性を保つよう努力しておりますが誤情報や古い情報のままの場合がありますことをご了承ください。</p>

<p>当サイトでは外部APIを利用して店舗名、住所、地図を表示しております。外部APIの情報のミスや古い可能性があり、
やはり当サイトで表示する際に誤った情報を発信する場合がありますことをご了承ください。</p>

<p>当サイトの情報を使用したことによる不具合や不都合に関しまして当サイトでは責任を負いません。適宜お客様の責任においてご利用ください。</p>

<p>口コミは善良なユーザー様の好意により行われていますが、主観を含む内容ですし、やはり最新の情報とは限りません。その点、重ね重ねご了承ください。</p>

<p>閉店情報につきましてはコメント欄にて投稿いただけましたら精査いたします。</p>


<h2 class="midasi2">著作権情報</h2>

<p>当サイトで提供している情報はYahoo地図APIを使用して取得したデータ情報を一部表示しています。またユーザー様より適宜よせられた口コミを元に表示しております。</p>

<p>店舗情報（店舗名、住所、最寄駅）に関してはYahoo様の情報となります。それ以外の文章や画像に関しまして著作権は当サイトに所属します。</p>



<h2 class="midasi2">運営サイト</h2>

<table>
	<tbody>
		<tr>
			<th>サイト</th>
			<th>概要</th>
		</tr>
		<tr>
			<td><a href="//happiant.co.jp" target="_blank">㈱ハピアント</a></td>
			<td>当サイト運営者ホームページ</td>
		</tr>
		<tr>
			<td><a href="//pg-happy.jp" target="_blank">PG-Happyブログ</a></td>
			<td>プログラミングスクール比較サイト</td>
		</tr>
	</tbody>
</table>
