<% @page_title =  '当サイトについて' %>

<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>当サイトについて</h1>
      </div>
    </div>
  </div>
<% end %>

<p>このサイトに関する概要をご紹介いたします。</p>

<h2 class="midasi2">サイト運営者</h2>
<p>このサイトの運営者情報はこちらをごらんください。</p>

<h2 class="midasi2">サイトの目的</h2>
<p>このサイトは小さなお子さんをもつパパ・ママのための情報サイトです。
私自身、赤ちゃん連れて外食したいと思っても入りにくかったり、騒ぐので周りの方に迷惑かなと思って躊躇して行けない事がほとんどです。</p>

<p>気軽に入れる飲食店があればいいのにと思っていて、実際に赤ちゃんWELCOMEなお店もたくさんあるものの、なかなか探すことが難しいなと感じています。</p>

<p>そこで全国のパパ・ママが赤ちゃん、子連れで行ける飲食店情報をシェアできれば皆さんの役に立つかもしれないと思いこのサイトを立ち上げました。</p>

<h2 class="midasi2">利用規約</h2>

<p>当サイトは無料で情報閲覧が可能です。また店舗の口コミ情報の投稿も誰でも可能となっております。</p>

<p>ユーザー登録、ログインもできますが、特に口コミを投稿するにあたってログインは必須ではありません。</p>

<p>ちなみに子(Ko)連れラ(Lu)ンチ口(Ku)コミから取ってKoLuKu「こるく」と名付けました。</p>

<h3 class="midasi3">免責事項</h3>

<p>サイトで扱う情報はなるべく最新性、正確性を保つよう努力しておりますが必ずしもそうとは限りません。</p>

<p>当サイトの情報を使用したことによる不具合や不都合に関しまして当サイトでは責任を負いません。適宜お客様の責任においてご利用ください。</p>


<h2 class="midasi2">著作権情報</h2>

<p>当サイトで提供している情報はYahoo地図APIを使用して取得したデータ情報を一部表示しています。またユーザー様より適宜よせられた口コミを元に表示しております。</p>

<p>店舗情報（店舗名、住所、最寄駅）に関してはYahoo様の情報となります。それ以外の文章や画像に関しまして著作権は当サイトに所属します。</p>




