<% @page_title =  '子連れOKの口コミ項目とアイコンの説明' %>

<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>子連れOKの口コミ項目とアイコンの説明</h1>
      </div>
    </div>
  </div>
<% end %>

<p>当サイトで口コミの投稿をお願いしている項目の意味やアイコンの意味について説明しております。</p>



<h2 class="midasi2">投稿していただいている項目の説明</h2>

<table>
	<tbody>
		<tr>
			<th class="bg-pink">項目</th>		<th class="bg-pink">アイコン</th>			<th class="bg-pink">意味</th>
		</tr>
		<tr>
			<td>子連れしやすい？</td>		<td><img src="/images/icon/icon-baby-06-gray-32.png" alt="子連れOK"></td>		<td>子連れOKかNGか、主観的に子連れしやすい店内かを表しています。感じ方なので人によってはOKでもNGもありえます。</td>
		</tr>
		<tr>
			<td>客層はファミリー向け？</td>		<td></td>			<td>ファミリー向けか大人向けか少人数向けか、昼間はサラリーマンばかりのお店などは入りづらいものです。お店のタイプをやはり主観で投稿してもらっています</td>
		</tr>
		<tr>
			<td>乳児OK？</td>		<td><img src="/images/icon/icon-baby-05-gray-32.png" alt="乳児OK"></td>		<td>乳児連れでもOKかを投稿してもらっています</td>
		</tr>
		<tr>
			<td>にぎやか？騒いでもよい？</td>		<td><img src="/images/icon/icon-gaya-gray-32.png" alt="にぎやか"></td>			<td>子供や赤ちゃん連れの場合には自分の子供が騒ぐのでわりと賑やかなお店を好む方が多いです。お店選びにおいて重要なポイントかと思います。</td>
		</tr>
		<tr>
			<td>禁煙</td>		<td><img src="/images/icon/icon-nosmoking-gray-32.png" alt="禁煙"></td>		<td>子供連れの場合禁煙はほぼ必須、場合によっては分煙や喫煙ルームありお店もあります。</td>
		</tr>
		<tr>
			<td>キッズチェア</td>		<td><img src="/images/icon/icon-isu-01-gray-32.png" alt="キッズ椅子あり"></td>			<td>子供椅子が用意されているかを口コミしてもらっています。</td>
		</tr>
		<tr>
			<td>キッズメニュー</td>		<td><img src="/images/icon/icon-food-01-gray-32.png" alt="キッズメニュー有り"></td>		<td>子供向けのメニューがあるかを口コミしてもらっています。</td>
		</tr>
		<tr>
			<td>子供食器ある？</td>		<td><img src="/images/icon/icon-syokki-gray-32.png" alt="子供食器あり"></td>			<td>子供用の食器が用意されているかを口コミしてもらっています。</td>
		</tr>
		<tr>
			<td>低アレルギー食</td>		<td></td>		<td>アレルギー持ちの子供のために低アレルギーメニューが用意されているかを表現しています。</td>
		</tr>
		<tr>
			<td>離乳食持ち込み</td>		<td></td>			<td>赤ちゃんの場合にお店の食事を食べられない事がほとんど。自分で離乳食を持ち込んでお店で食べても良さそうかを投稿してもらっています。</td>
		</tr>
		<tr>
			<td>座敷あり</td>		<td></td>			<td>座敷があるか、座敷であれば子供が椅子に座る必要もなくまた高さがなく安全だということがわかります。</td>
		</tr>
		<tr>
			<td>個室・半個室あり</td>		<td></td>			<td>他のお客さんに迷惑をかけることなく騒いでもOKか、またママ会に使えそうかを判断するポイントになります。</td>
		</tr>
		<tr>
			<td>授乳室</td>		<td><img src="/images/icon/icon-milk-gray-32.png" alt="授乳室完備"></td>			<td>1～2才まではまだおっぱいやミルクを飲んでる時期、授乳室があればママも安心して赤ちゃんを連れていけるというものです</td>
		</tr>
		<tr>
			<td>おむつ交換スペース</td>		<td><img src="/images/icon/icon-omutu-gray-32.png" alt="おむつ交換スペース有り"></td>			<td>とくにウンチをしたときにおむつ交換が出来る方が望ましく、都会では探すのも難しい施設だったりします。</td>
		</tr>
		<tr>
			<td>キッズスペース</td>		<td></td>			<td>子連れOKとしているお店や施設には設置されていることがあるキッズスペース、これがあるお店はかなり期待できますね。</td>
		</tr>
		<tr>
			<td>ベビーカー入店</td>		<td><img src="/images/icon/icon-babycar-gray-32.png" alt="ベビーカー入店OK"></td>			<td>お店の広さにも関係しますが車で移動できない都会の家族連れはベビーカーの置き場にこまることが多いのであると助かりますね。</td>
		</tr>
		<tr>
			<td>店内広い？</td>		<td><img src="/images/icon/icon-hirosa-gray-32.png" alt="店内広い"></td>			<td>お店の広さも重要です。子供がじっとしていられなかったり、また周りのお客さんに迷惑にならないぐらいの広さはほしいと思うものですね。</td>
		</tr>
		<tr>
			<td>席と席の広さ</td>		<td></td>			<td>隣の席のお客さんに迷惑がかからないぐらいの席の広さは欲しいですね。子連れは荷物も多いしベビーカーで入店する場合もありますので。</td>
		</tr>
		<tr>
			<td>空いてる？</td>		<td></td>			<td>混雑していると子供と荷物持ちでは入りにくく遠慮する傾向があります。できれば空いてるほうが良いというニーズに答える口コミ項目です。</td>
		</tr>
		<tr>
			<td>駐車場</td>		<td><img src="/images/icon/icon-car-01-gray-32.png" alt="駐車場あり"></td>			<td>駐車場のあり、なしを表示しています。</td>
		</tr>
		<tr>
			<td>駅チカ</td>		<td><img src="/images/icon/icon-ekitika-gray-32.png" alt="駅から近い"></td>			<td>駅から近いかを表示しています。特に何分という指定はなく投稿者の主観で近いなと思えば1票入ります。個人的には赤ちゃん連れで5分も徒歩で行くところだときついかなぁ。</td>
		</tr>
		<tr>
			<td>アクセスしやすさ</td>		<td></td>			<td>全体的な主観でのアクセスしやすさです。スロープになっててベビーカーでスムーズとか、ビル内でエレベーターが狭く行きにくいとか。</td>
		</tr>
		<tr>
			<td>店の子供歓迎</td>		<td></td>			<td>昨今子連れOK！歓迎！といったお店が増えてきています。そういった子供歓迎を表明しているお店だと感じたら1票はいります。</td>
		</tr>
		<tr>
			<td>個室座敷の予約</td>		<td></td>			<td>ママ会や大人数での利用、子供が騒ぐ、走る等の場合に個室座敷を利用したいこともあり、予約ができるかを投稿してもらいます。</td>
		</tr>
		<tr>
			<td>絵本・おもちゃ</td>		<td><img src="/images/icon/icon-omocha-gray-32.png" alt="絵本おもちゃ有り"></td>			<td>子供、赤ちゃんが退屈しないように貸出ししてたり、またはキッズセット購入などでおもちゃが貰える場合にここの票を投稿してもらっています。</td>
		</tr>
		<tr>
			<td>エプロン</td>		<td><img src="/images/icon/icon-epuron-gray-32.png" alt="紙エプロンあり"></td>			<td>子供用の紙エプロンを提供しているお店があるので、その場合は投稿してもらっています。</td>
		</tr>
		<tr>
			<td>衛生的？</td>		<td><img src="/images/icon/icon-eisei-gray-32.png" alt="衛生的"></td>			<td>全体的にお店の内部が衛生的か、綺麗かどうかを判断するポイントとなります。</td>
		</tr>
	</tbody>
</table>


