<% @page_title =  '個人情報保護方針' %>

<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>個人情報保護方針</h1>
      </div>
    </div>
  </div>
<% end %>

<p>当サイトの個人情報保護方針について記述します。</p>

<p>当サイトは、お客様のプライバシーに係わる個人情報を保護することに細心の注意を払い取り組みます。</p>

<p>当サイトにおいて、お客様ご自身の判断により個人情報をご提供いただく場合がございますが、その情報は必要最小限の情報とし、
その他の情報のご提供につきましてはお客様の判断を尊重いたします。</p>

<p class="link-next"><a href="http://www.caa.go.jp/planning/kojin/" target="_blank">「個人情報保護法令」に関するページ（消費者庁）</a></p>


<h2 class="midasi2">個人情報の取得に関して</h2>
<p>当サイトでは、お客様に当サイトをご利用いただくにあたり、必要最小限の個人情報をいただく場合がございます。</p>

<ul>
  <li>ユーザー登録時</li>
  <li>お客様から当サイト運営への問い合わせ時</li>
</ul>

<p>このような時にお客様の「氏名」「メールアドレス」をご入力頂く場合があります。</p>

<h2 class="midasi2">利用目的に関して</h2>
<p>お客様からご提供いただいた個人情報は、お客様がご利用になるサービス及び、弊社業務の範囲内に限り使用させていただきます。<br>
また、各お申し込みの際に、別途利用目的が明示されている場合は、そちらの目的に従い利用させていただきます。</p>

  
<h2 class="midasi2">管理・保護体制に関して</h2>
<p>当サイトは、お客様からご提供いただいた個人情報を適切な方法で管理し、お客様の個人情報の紛失や漏洩などが起きぬよう、合理的な措置を講じます。</p>


<h2 class="midasi2">提供・提示に関して</h2>
<p>当サイトが、ホームページ上でお客様よりご提供いただいた個人情報は、法令の定める場合などを除き、ご本人様の事前の了解なく第三者に提供・提示されることはありません。</p>

  
<h2 class="midasi2">お客様ご本人様からの開示等の請求手続きに関し</h2>
<p>当サイトがご本人の個人情報について照会や訂正を求められる場合は、確認を取らせていただいた上で適切に対処させていただきます。</p>

  
<h2 class="midasi2">個人情報の取り扱いに関する相談窓口</h2>
<p>お客様の個人情報の取り扱いに関するお問い合わせは、お問い合わせページからお願いいたします。</p>

  
<h2 class="midasi2">お客様の同意について</h2>
<p>当サイトは、お客様が当サイトを利用されるにあたり、当サイトの個人情報の取り扱いに対する考えに同意を得ておられるものと考えます。<br>
また、当サイトのご利用は、お客様の責任において行われるものとします。<br>
今後、ここに記載された内容が予告なく改訂される可能性がありますのでご了承下さい。</p>

