<% @page_title =  '特商法に基づく表示' %>

<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>特商法に基づく表示</h1>
      </div>
    </div>
  </div>
<% end %>

<p>特定商取引法に基づく表示を行います。</p>
<p>お問い合わせ等は下記のメールアドレスまでご連絡ください。</p>

<table>
	<tbody>
		<tr>
			<th>運営者</th>
			<td></td>
		</tr>
		<tr>
			<th>連絡先</th>
			<td></td>
		</tr>
		<tr>
			<th>販売商品</th>
			<td>なし。当サイトにて販売する商品やサービスはありません。</td>
		</tr>
		<tr>
			<th>課金</th>
			<td>なし。当サイトのご利用（情報の閲覧、投稿）すべて無料です。</td>
		</tr>
		<tr>
			<th>その他課金</th>
			<td>なし。</td>
		</tr>
	</tbody>
</table>