<% @page_title =  '当サイトのご利用の仕方' %>

<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>当サイトのご利用の仕方</h1>
      </div>
    </div>
  </div>
<% end %>

<p>ここでは当サイトの使い方についてご紹介いたします。</p>


<h2 class="midasi2">ユーザー登録は必須ではありません</h2>
<p>当サイトはユーザー登録をする事ができますが必須ではありません。全ての機能・ページの閲覧はユーザー登録なしで可能です。</p>

<p>店舗情報の口コミに関して、登録済のユーザーが口コミを投稿するとニックネームやプロフィール写真が表示されるようになります。
登録していない方が口コミを投稿すると「匿名さん」による投稿となりニックネーム、プロフィール写真等は表示されません。</p>

<h3 class="midasi3">ユーザー登録の意味とは？</h3>

<p>それではユーザー登録の意味が無いんじゃないかと思う方もいらっしゃると思います。現時点では確かにあまり意味があるものではありません。</p>

<p>将来的に写真の投稿が多いユーザーの方には何かお礼のプレゼントをしたいと考えておりまして、
その権利を得るために最初から登録しておいたほうが良い場合もあります、という感じです。</p>


<h2 class="midasi2">口コミや店舗情報を閲覧する</h2>
<p>検索窓にて「地域」や「店舗名」や「お店のジャンル」を入力して子連れOKのお店を検索してください。
もし他者ユーザーによる口コミや写真の投稿がされていればその情報を閲覧することができます。</p>


<p>赤ちゃんを連れてのランチ、ディナーはとにかく周りに気を使いますよね。あなたが気になる項目をチェックして問題なさそうか見てからお店に訪問してみてはいかがでしょうか。</p>

<p>現時点での口コミ情報は以下の情報について◯か△か×かを集計しております。</p>

<p>→<a href="/info/icon">口コミ項目とアイコンの説明</a></p>

<h2 class="midasi2">口コミをシェア（投稿）する方法</h2>
<p>検索窓にて「地名」や「店舗名」や「お店のジャンル（居酒屋、カフェ、ラーメン、すきやき、ファミレス等）」を入力して検索を行ってください。</p>

<p>検索結果一覧にお店が表示されますので、該当のお店を選んで口コミを投稿してください。</p>

<p>このとき、検索結果一覧にお目当てのお店が出てこない場合があります。当サイトはYahooロコのAPIを間借りさせて頂いているため、
最新情報はYahooロコ様の情報に準拠しています。それでOPEN間もないお店などは出てこない場合があるのです。ご了承ください。</p>

