<% flash.each do |message_type, message| %>

  <% if flash[:tokosuccess] %>
    <div class="alert alert-success">
      <%= message %>
      <p>是非SNSでも当サイトをシェアしてください。</p>
      <%= render 'layouts/snsbutton' %>
    </div>
  <% else %>
    <div class="alert alert-<%= message_type %>">
      <%= message %>
    </div>
  <% end %>
<% end %>
