<footer>
  <div class="container ">
  <div class="row m15-t">
    <div class="col-xs-12 col-md-2"><img src="/images/logo2.png" alt="KoLuKu"><br><span class="b">子連れランチ口コミサイト</span><br>パパ・ママが一緒に作るサイト、飲食店の子連れしやすさを是非共有してください♪</div>
    <div class="col-xs-12 col-sm-10">

      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <h3>メニュー</h3>
          <p>Ver 20180501-23:25 heroku test3</p>
        </div>
        
        <div class="col-xs-12 col-sm-6">
          <h3>サブメニュー</h3>
          <ul>
            <li><a href="/info/about">当サイトについて</a></li>
            <li><a href="/info/privacy-policy">個人情報保護方針</a></li>
            <li><a href="/info/tokusho">特商法に基づく表示</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
  <div class="text-center text-muted m15-t m15-b">© <%= Date.today.year %> KoLuKu .</div>
  </div>
</footer>
