<footer>
  <div class="container ">

    <div class="al-c m50-t m50-b">
      <img src="/images/logo3.png" alt="KoLuKu"><br>
      <span class="b">子連れランチ口コミサイト</span><br>
      パパ・ママが一緒に作るサイト、飲食店の子連れしやすさを是非共有してください♪
    </div>
    
    <div class="al-c m50-b">
      特集記事：<a href="/special/ikebukuro">池袋</a>　|　<a href="/special/tokyoeki">東京駅</a>　|　<a href="/special/shibuya">渋谷</a>
      |　<a href="/special/nikohapi-ikebukuro">にこはぴ</a>
    </div>

    <div class="al-c m50-b">
      <a href="/info/icon">アイコンと口コミ項目の説明</a>　|　
      <a href="/info/about">当サイトについて</a>　|　
      <a href="/info/usage">当サイトのご利用の仕方</a>　|　
      <a href="/info/privacy-policy">個人情報保護方針</a>　|　
      <a href="/info/tokusho">特商法に基づく表示</a>　|　
      <a href="/info/sitemap">サイトマップ</a>
    </div>

  </div>
</footer>

<div class="footer2">
  <div class="container ">
    <div class="text-center text-muted m15-t m15-b">
      <!--<p>| <a style="color:#666;" href="//pg-happy.jp" target="_blank">PG-Happyブログ</a> | <a style="color:#666;" href="//happiant.co.jp" target="_blank">Happiant</a> |</p>-->
      <p>© <%= Date.today.year %> KoLuKu .</p>
    </div>
  </div>
</div>